[2020-06-09 05:59] LarsDenBakker commented on #1701
Having some issues in the CI, looking into that.

[2020-06-09 08:01] ranielzed opened #1703 "[es-dev-server] plugin hooks not called"
Hi, I have the following inside the config file:

[code]

But I doesn't seem to pickup the plugins. I turned on debug, but I didn't see any plugins. Did I miss anything?

[2020-06-09 08:02] LarsDenBakker commented on #1703
Which version of es-dev-server are you using?

[2020-06-09 08:28] ranielzed commented on #1703
sorry, forgot to note that. version 1.54.1

[2020-06-09 09:32] davidmaxwaterman commented on #1368
I'm just come back to the project that was the reason for this issue to be raised, and I notice the problem is still there. I see that the fix has been merged, so I'm not sure if the fix didn't fix it for me (or the polymer init test case), or if the fix has made it into the most recent release. Any ideas?

Here's my comment on slack:

Hi, I just moved back to this project, and it seems to be havi

[2020-06-09 10:24] aress31 opened #1704 "[Scaffolding] Rollup Bundle Analyzer"
I use `open-wc` to quickly scafflod and configure a new web application projects. I am not entirely sure that `open-wc` was designed to achieve this purpose but since the `PWA Starter Kit` points to this repository and the availability of a `scaffold a new application` option, I think that yes, please correct me if I wrong.

I am not super familiar with `Rollup` but I would like to be able to insp

[2020-06-09 11:44] aress31 opened #1705 "[Scaffolding | Tutorial] SASS/SCSS Setup"
I use `open-wc` to quickly bootstrap my web application projects with `material-web-components` and have all the building and linting configurations quickly setup out of the box. However, `material-web-components` and many other UI libraries rely heavily on `scss` and I am personally not a professional web developer therefore adding an option to the scaffolder to quickly setup `Rollup` and the pro

[2020-06-09 14:28] moodyjmz commented on #1701
@LarsDenBakker pulling that PR and using the es-dev-server package runs without issue for me

[2020-06-09 14:52] moodyjmz commented on #1701
@LarsDenBakker sorry, was still pointing to my modified build using older rollup, it still fails

[2020-06-09 18:00] bennypowers commented on #1704
You can add [rollup-plugin-analyzer](https://github.com/doesdev/rollup-plugin-analyzer) to your config. it's [relatively straightforward](https://open-wc.org/building/building-rollup.html#extending-the-rollup-config) to add your own plugins.

[2020-06-09 18:05] bennypowers commented on #1632
@MateWW here's one I prepared earlier

[code]
[code]

[2020-06-09 18:20] aress31 commented on #1704
@bennypowers thanks for directing me to this plugin, I think that the documentation could benefit from a few explanation lines on how to set it up or a direct link to this repository.

[2020-06-11 17:42] Taewa opened #1707 "[@open-wc/testing-karma] how to test image import?"
Hi all,

I'd like to know what's the best practice of testing js module while the module imports image file.

[code]

This works fine during the development and able to see the `abc.gif` image properly on Chrome browser.

Now, I'd like to run a unit test by using `@open-wc/testing-karma@3.0.0`.

When I run `karma start karma.conf.js` and check the Chrome browser's console, I see the following erro

[2020-06-11 17:54] LarsDenBakker commented on #1707
As you found out, the browser doesn't know what importing an image means. What are you importing? The path to the file? The image as a js object? A text representation of the image? The image as base 64?

If you're using webpack during development there are probably some loaders which handle this for you. In that case, we recommend using karma-webpack so that development and testing are in line. Y

[2020-06-11 21:33] robborrego opened #1709 "Docs tab not showing code snippet"
Using CSF, stories are not showing code snippets in the Docs tab. Instead it shows "No code available". Seems to be a known bug in @storybook/source-loader. Upgrading to v5.3.3 seems to fix the issue.

[2020-06-11 22:08] Taewa commented on #1707
Thanks for the response @LarsDenBakker !

I did a couple of tries by your comment.
Indeed, `new URL('abc.gif', import.meta.url).pathname;` works with unit test!
That's good but Stroybook is broken.

So I added `@babel/plugin-syntax-import-meta` in `.storybook/.babelrc` (of course after install that dependency)

[code]
it didn't work.

Next try!
I added `@babel/plugin-syntax-import-meta` in `.story

[2020-06-12 04:54] LarsDenBakker commented on #1666
Not stale

[2020-06-12 07:19] LarsDenBakker commented on #1681
We have started work on a new repository at: https://github.com/modernweb-dev/web

[2020-06-13 17:10] blikblum commented on #1096
Seems this already done: https://open-wc.org/linting/linting-eslint.html#running-with-prettier

[2020-06-13 17:28] daKmoR commented on #1096
indeed thx 🤗

[2020-06-13 18:47] blikblum commented on #1096
Sorry for the confusion, but the OP meant to use eslint-plugin-prettier which is not the case for open-wc

[2020-06-13 19:17] paales commented on #1096
I think it isn't relevant for me anymore. Since prettier does format other file formats besides js/ts files.

[2020-06-13 19:17] #1096 closed

[2020-06-14 11:25] #1637 closed

[2020-06-14 14:07] ronnyroeller opened #1713 "[es-dev-server] Issue importing commonjs modules"
I lately encountered an issue importing a commonjs module when running the app in `es-dev-server` (it works with other bundlers like `esbuild`).

The library author (yjs) suggested to file a ticket with `es-dev-server` to see if the rollup version can be bumped (and I presume the custom transformer to bundle commonjs modules be removed): https://github.com/dmonad/lib0/issues/9#issuecomment-6415076

[2020-06-14 16:10] LarsDenBakker commented on #1713
Es dev server isnt a bundler, its a dev server that relies on using what the browsers supports and avoid complicated builds. The browser only supports standard es modules.

You could use a build tool (like esbuild) to transform this package for use in the browser.

We have a dependency on rollup, but that's only to reuse a plugin for module resolution we dont use rollup itself. The version of roll

[2020-06-14 22:10] svdoever opened #1714 "How to build and consume scaffolded component?"
using `npm init @open-wc` I scaffolded both an application and a component. The application has the rollup configuration to produce a production build. The scaffold component only has a watch mode, no build, and no rollup configuration.

What is the best way to build a component, and to consume the component from the application?

[2020-06-14 23:08] bennypowers commented on #1713
If your dependency is relatively simple, you might consider using `patch-package` and rewriting it as a standard module.

[2020-06-16 07:01] #1713 closed

[2020-06-16 07:08] LarsDenBakker commented on #1714
I think https://open-wc.org/publishing/ should cover what you're looking for.

[2020-06-16 07:11] LarsDenBakker commented on #1707
Storybook uses webpack, which doesn't support import.meta unfortunately even though it's implemented in all major browsers...

You could use https://github.com/open-wc/open-wc/tree/master/packages/webpack-import-meta-loader

I think it's useful to use one distribution system throughout your stack so that you don't have to keep fixing problems.

Webpack style:
- webpack-dev-server
- storybook
- kar

[2020-06-16 11:16] DerkJanSpeelman commented on #406
After setting up a project with `npm init @open-wc`, I see this in the `package.json`:
[code]

There is a `project-name.test.ts` code inside the `test` folder that has this import: `import { html, fixture, expect } from '@open-wc/testing';`.

When using the `@open-wc/eslint-config` configuration, I get this error:

[code]

Am I the only one who thinks this is weird? The eslint configuration `@open

[2020-06-16 12:03] svdoever commented on #1714
Yes, and I can include it in my own build tooling... but as a starter project, it is strange that there is only a development mode, and no support for adding multiple components...

[2020-06-16 12:09] LarsDenBakker commented on #1714
As the page explains, there is no build required for the component project. You can use the scaffolded project to develop your component and publish it to NPM.

The application can install this component and do the final build for production optimisations.

[2020-06-16 12:21] svdoever commented on #1714
Ah ok, sorry... understand your approach. In my case I would prefer to skip the npm publishing step and build thee collection of components into a single consumable bundle (es6 and legacy versions) because the components will be used without additional building step in a context where I can only include a bundle. I will look into another approach to accomplish this, something like the following ro

[2020-06-16 22:42] blikblum commented on #406
I think this is not relevant anymore since deprecation of  @open-wc/prettier-config

[2020-06-16 22:42] #406 closed

[2020-06-17 06:43] ronnyroeller opened #1717 "Static storybook misses dependency"
I built my first component with @open-wc . Everything works like a charm! Thanks :pray:

The last thing I’m struggling with is to get the static storybook working. Running storybook locally (storybook-start) works fine but loading the static deployed version in Chrome fails with (https://collaborne.github.io/mwc-markdown-editor/):
[code]

I suspect that this is related to this warning during the s

[2020-06-17 07:33] bennypowers opened #1718 "[es-dev-server]: commonjs proxy sometimes servers without a file"
Occasionally, eds attempted to fetch this URL:

[code]

When it should have fetched
[code]

I noticed this when using `@open-wc/demoing-storybook`, because it crashed the page. The same url resolved to the script when running my app through eds 🤷‍♂️

@LarsDenBakker solved it for me with:
[code]

He also mentioned this should be fixed inside eds, and that it might be related to history API fallback

[2020-06-17 07:36] bennypowers commented on #1718
dupe of https://github.com/LarsDenBakker/es-dev-server-rollup/issues/1

[2020-06-17 07:36] #1718 closed

[2020-06-18 05:33] RohitSingh22Jan opened #1719 "E2E Testing"
Would like to know if there is any best practices tools available for e2e testing for web components.
Any recommendations from Open-wc. As here we are dealing with shadow dom and looks like we have issues using selenium for the same.
Or its better to add web component behaviour testing like we do unit testing using Karma, but there we need to work more on dispatching and listening events and makin

[2020-06-18 05:59] davidmaxwaterman opened #1720 "[es-dev-server] Fails on message-channel with polymer 2 project"
To reproduce:

1. mkdir es-dev-server-test && cd es-dev-server-test
1. npm install -g polymer-cli
1. npm install -g es-dev-server
1. polymer init --name polymer-2-application
1. es-dev-server --debug

1. open http://localhost:8000 in chrome
1. open dev tools on network panel
1. reload the page

Expected....it all would work.

Actual...many (I count 14) requests to the following URL get stuck in 'p

[2020-06-18 23:35] #1540 closed

[2020-06-22 14:02] tmsns opened #1722 "[building-rollup] unspecified direct dependency `regenerator-runtime`"
`building-rollup` is using `regenerator-runtime` to have a babel-helpers bundle: [src/babel/rollup-plugin-bundled-babel-helpers.js#L83](https://github.com/open-wc/open-wc/blob/master/packages/building-rollup/src/babel/rollup-plugin-bundled-babel-helpers.js#L83)
Unfortunately, it doesn't specify this dependency explicitly in the dependencies of the project [package.json#L53](https://github.com/open

[2020-06-23 08:27] dpinillos37 commented on #1289
I have the same issue, any idea on when this will be fixed?

[2020-06-25 02:47] MathieuPuech commented on #1696
PR is already opened

[2020-06-25 13:34] daanbouws1 opened #1728 "Error: Uncaught TypeError: Class constructor LitElement cannot be invoked without 'new' when using karma-esm with tsc"
Hi, I'm sorry if this is not the place for this kind of problem, but after thinking about it for a while I couldn't think of a better place where i might get an answer.

I'm working on a lit-element based project and was pointed towards testing it with your testing umbrella project open-wc/testing. I've set up a fairly basic configuration on top of the default one that you guys provide It can be s

[2020-06-25 15:03] tmsns opened #1730 "[es-dev-server] Middlewares can't set the response of static files dynamically before koa-static"
In some cases it's useful that a middleware sets the response to a request instead of `koa-static` and before giving it to the next middlware. `koa-static` supports this with its option `defer`: https://github.com/koajs/static#options
Normal behavior will be kept, but additionally middlewares can override  the response.

I will send in a PR with the proposal, please check if this is acceptable for

[2020-06-25 20:05] #1722 closed

[2020-06-25 20:08] LarsDenBakker commented on #1730
Won't this break cases where a middleware wants to manipulate the served file, since koa static now waits on the other middlewares first?

We have the plugin serve hook for cases where you want to serve virtual files.

[2020-06-25 20:24] tmsns commented on #1730
A middleware manipulates a served file (virtual or not) after the ´wait()´ callback, (eg. the middleware that handles the transform plugins, koacompress, ..) This proposal will allow normal Koa regular koa middlewares to respond to requests, while being able to still go through the full line of middlewares. Currently, the only way a middleware has to respond is to stop the pipeline altogether (by

[2020-06-25 20:25] tmsns commented on #1730
euhm.. appearantly, I hit the shortcut to close the issue with a shortcut.. 🙈

[2020-06-25 20:36] #1696 closed

[2020-06-26 20:43] rogerta opened #1732 "Problem using @import-maps/generate with firebase"
I'm trying to use `@import-maps/generate` in a project with firebase dependencies.  This causes the `generate` command to fail because some packages are not importable (they exist to declare typescript types).  I tried using a combination of overrides and deletions in my package.json file but it did not seem to ignore these packages.  Let me know if I've missed something.

**Feature request**: Hav

[2020-06-27 08:25] softdays commented on #1583
Also it could be help to not only handle `.babelrc` config file but also `babel.config.json`, `babel.config.js`, etc.

[2020-06-27 08:29] LarsDenBakker commented on #1583
This is something left up to the babel plugin, we don't read the config ourselves.

[2020-06-27 08:46] softdays commented on #1583
Ok.. strange... if I move my .`babelrc` to `babel.config.json` I get the following error in the browser:
[code]

Here is my start script :
[code]

and my babel config:
[code]
I certainly miss something...

[2020-06-27 09:13] LarsDenBakker commented on #1583
This issue is about the rollup configuration, not es-dev-server.

I think when you use preset-env you need to include some polyfills yourself. It's best to check the babel docs on how that works.

[2020-06-27 10:08] softdays commented on #1583
You're right my concern is about es-dev-server. Sorry for the inconvenience.

[2020-06-27 10:19] softdays opened #1733 "[es-dev-server] should support alternative babel config files"
At the moment, it seems that `es-dev-server` only supports `.babelrc` config file. The doc indicates:

It should be possible to use one of the babel supported alternatives as `babel.config.json` or `babel.config.js`

[2020-06-27 10:31] daKmoR commented on #1733
it seems the docs are wrong here 😅
babel itself takes care of loading it's own config... so as long as there is a config (in whatever form) that should be fine...

maybe you can verify and update the docs accordingly - pretty please 🙏

[2020-06-27 11:32] softdays commented on #1733
So I'm maybe facing some other issue.

If I move my `.babelrc` to `babel.config.json` I get the following error in the browser:
[code]
Here is my start script :
[code]
and my babel config:
[code]
I certainly miss something but the fact is that just renaming the babel config file produces the error.

[2020-06-28 16:48] Westbrook commented on #1697
@Christian24 I think a lot of people would love to see this, possibly codified into the generator in some way, once you've compiled all of your suggestions. If you are still interested in starting to put together a PR in this way, please do!

As we are actively making the transition from VuePress to our own SSG situation with 11ty some of the initial steps to adding new pages/getting them in the n

[2020-06-29 15:34] theolavaux opened #1735 "npm init @open-wc fails with npm@6.14.5 and node@12.18.1"
npx: installed 30 in 1.705s

[code]

✔ What would you like to do today? › Scaffold a new project
✔ What would you like to scaffold? › Web Component
✔ What would you like to add? › Linting (eslint & prettier)
✔ Would you like to use typescript? › Yes
✔ What is the tag name of your application/web component? … poc-redux-td

./
├── poc-redux-td/
│   ├── demo/
│   │   └── index.html
│   ├── src/
│   │

[2020-06-29 15:47] #1735 closed

[2020-06-29 16:14] Christian24 commented on #1697
@Westbrook We will see where this goes in the future. Since I am super pumped by getting a positive reply and feel energetic, I would just start with a simple markdown document to start out.  Just because I think this might be easiest to write and discuss about before transforming it into a different format later.

I just joined the Slack channel.

[2020-06-29 19:29] Christian24 commented on #1697
@Westbrook initial starting point can be found here: https://github.com/Christian24/open-wc/commit/7a58df255df12adea7bebc00fc87f50cf79cd060

[2020-06-29 20:40] Westbrook commented on #1697
Great! I'll take a look today or tomorrow. You should share the PR in the Slack channel when you're ready to get even more eye son this.

[2020-06-29 20:56] thepassle commented on #1697
These sound like they would be great additions for https://open-wc.org/developing/best-practices.html

[2020-06-30 19:27] Christian24 commented on #1697
So, I would say this might be pretty much everything I would want to write for an initial draft: https://github.com/Christian24/open-wc/blob/master/docs/component-guide/component-guide.md

Feedback is welcome. Different views too. I have no issue with presenting multiple alternative views or being taught I am wrong on something.

Things I could see as potential extensions in the future:
* styling

[2020-06-30 19:38] thepassle commented on #1697
well, if they are best practices, then that should be the place for them 😛

I havent done a thorough reading of this yet, but I do think we should stick with our buildless philosophy, especially here. So imo we should not go on and recommend buildful tools like typescript and sass

[2020-06-30 19:59] Christian24 commented on #1697
@the

I have to admit I was not aware of a buildless philosophy. I must have missed that.
I would not want to recommend Typescript or Sass.

However, I think it is fair to add information on concepts from these tools that might be helpful and how to use them. I would argue that a fair share of readers might use these tools and might find the additional information helpful.

[2020-07-01 11:41] danipv opened #1736 "Missing polyfill ShadyCSS CustomStyleInterface in building-webpack"
Hi,

I'm missing the [CustomStyleInterface](https://github.com/webcomponents/polyfills/tree/master/packages/shadycss#about-customstyleinterface) polyfill using the modern-and-legacy-config.

This polyfill is needed to declare css custom properties in the base document that can be used by lit-element components via css inheritance in IE11. This behaviour was achieved in previous Polymer versions us

[2020-07-01 15:16] LarsDenBakker commented on #1703
Sorry for the late response here. I just tried to reproduce this:

[code]

Don't choose any extra options.

Added a config file `es-dev-server.config.js`:

[code]

 and I'm seeing the console log from `serverStart`.

[2020-07-01 15:18] LarsDenBakker commented on #1704
@aress31 Are you up for adding some docs for this?

[2020-07-01 15:31] aress31 commented on #1704
@LarsDenBakker, absolutely! Could you please direct me to the right file to edit? I will add references to `rollup-bundle-analyzer` and `rollup-plugin-analyzer` to help with optimising the build size.

[2020-07-01 15:43] aarondrabeck opened #1737 "Cannot rename service worker from default and use injectServiceWorker"
If you choose to rename your service worker for example:

[code]

You can no longer use injectServiceWorker: true because the script it injects is hard coded (sw.js).  It would be nice to allow for configuration of the service worker path/name or be smart enough to parse it from the workbox config.

[2020-07-01 16:29] LarsDenBakker commented on #1704
It should be in the readme of the `building-rollup` package.

[2020-07-01 20:17] thepassle commented on #1737
Just whipped up a PR to fix this: https://github.com/open-wc/open-wc/pull/1738

This way the `injectServiceWorker` functionality will reuse the `swDest` option on the `workbox` property of the config, if available. If not, it'll default to `./sw.js`

[2020-07-02 07:26] #1621 closed

[2020-07-02 11:17] #1737 closed

[2020-07-02 11:17] thepassle commented on #1737
Fixed in https://github.com/open-wc/open-wc/pull/1738

[2020-07-02 13:32] busterc opened #1739 "[eslint-config] Improve ESLint v7 support by adding plugins to peerDeps"
When we extend `open-wc/eslint-config` and install it on a project, the various plugins found in `dependencies` are not resolved by ESLint v7:
[code]
Therefore, we have to manually install each plugin individually as a `devDependencies` for each project that extends `open-wc/eslint-config`.

You'll notice that the `airbnb-base` config includes `plugin-import` in `peerDependencies` and they refer t

[2020-07-02 16:49] #1736 closed

[2020-07-02 16:57] LarsDenBakker commented on #1733
We're currently working on moving over most of the es-dev-server code to a different monorepo as per https://github.com/open-wc/open-wc/issues/1681. We will make sure this is picked up as part of that work.

[2020-07-03 02:58] ranielzed commented on #1703
@LarsDenBakker Thank you. Seems like this is already fixed. I tried version 1.56.0 and I also saw the log.

[2020-07-03 02:58] #1703 closed

[2020-07-04 12:09] stanf0rd opened #1745 "feature(rollup-plugin-html): inject css assets to head of html"
Thanks for such good plugin!

It would be great to have posibility to inject css files which were bundled by rollup.
It is usefull when css asset file names were hashed with `output.assetFileNames: [name].[hash][extname;` in rollup config.

This feature exists in [@rollup/plugin-html](https://www.npmjs.com/package/@rollup/plugin-html) or [rollup-plugin-generate-html-template](https://www.npmjs.com

[2020-07-05 17:41] Halt001 opened #1746 "How to consume a Typescript based WC create by the open-wc generator"
I'm somewhat confused as to how a generated web component with Typescript enabled is supposed to be consumed.

I would expect it to be consumed as compiled to ECMAScript. But at the root of the project I only see a `index.ts`. This seems to be at odds with the `package.json` where main and module are pointing to a `index.js` at the root.

Should these be pointed at dist/index.js maybe?

[2020-07-06 06:18] bennypowers commented on #1746
That sounds odd indeed. Can you share the steps you used to reproduce this problem? I took a look through the generator code just now and was unable to find the mistake you described

[2020-07-06 06:51] LarsDenBakker commented on #1745
You can transform the HTML template and inject anything you want from the rollup bundle: https://open-wc.org/building/rollup-plugin-html.html#transform-output-html

For the plugin to do this automatically, which files would you expect to be injected? How would the plugin detect this?

[2020-07-06 09:41] mercmobily opened #1747 "No more createDefaultConfig?"
Help...
I did a hard package update, and am having trouble figuring this out.
My app did this:

[code]

However, now I am getting:

   [!] TypeError: buildingRollup.createDefaultConfig is not a function

Has this been renamed/changed?

Merc.

[2020-07-06 09:45] thepassle commented on #1747
In the latest breaking change of `building-rollup` we renamed it to `createBasicConfig` https://github.com/open-wc/open-wc/blob/master/packages/building-rollup/index.js#L6

[2020-07-06 10:38] aress31 opened #1748 "Enable yarn build:watch"
Hi @openwc team,

Right now it is possible to do (build/bundle)-less development using the following `npm script`:
`"start": "concurrently --kill-others --names tsc,es-dev-server \"yarn tsc:watch\" \"es-dev-server --app-index index.html --node-resolve --open --watch\"",`

What I suggest is that for completeness and convenience sake adding the `bundle` alternative for the people who would require r

[2020-07-06 11:00] mercmobily commented on #1747
There must be something else too.

[code]

But I *am* passing `input` -- but it's in the root of the config.
Has that changed too?

[2020-07-06 11:11] thepassle commented on #1747
the `createBasicConfig` is meant for js-to-js bundling, the `input` field needs to be given the rollup config, not the `createBasicConfig` function. Here's an example usage:

https://github.com/open-wc/open-wc/blob/master/packages/building-rollup/demo/js/rollup.basic.config.js

[2020-07-06 11:16] LarsDenBakker commented on #1747
`createSpaConfig` is the equivalent of `createDefaultConfig`. I recommend just checking the updated docs: https://github.com/open-wc/open-wc/tree/master/packages/building-rollup

[2020-07-06 11:16] mercmobily commented on #1747
Wait I am confused...
I am trying to use createSpaConfig (since my app is a SPA) but I am not
very successful right now.
I am as far as:

[code]
But

if I try:

[code]

I get a strange:

[code]

On Mon, 6 Jul 2020 at 19:12, Pascal Schilp <notifications@github.com> wrote:

[2020-07-06 11:18] thepassle commented on #1747
Ah, I got mixed up, thats my bad, sorry. If you're building a SPA, go with `createSpaConfig` like lars said 🙂

[2020-07-06 11:20] mercmobily commented on #1747
Ah plugins is meant to be an array, it seems to be working now!
I love the fact that you are recommending `merge()`, I remember thinking
about suggesting it!

On Mon, 6 Jul 2020 at 19:16, Lars den Bakker <notifications@github.com>
wrote:

[2020-07-06 15:54] jorenbroekema opened #1749 "[chai-a11y-axe] Promise exceeds timeout in build"
[code]

This happens every now and then for our accessibility tests in lion, and I cannot seem to reproduce it locally.

https://app.circleci.com/pipelines/github/ing-bank/lion/3691/workflows/9e5376f9-57f5-4907-b6a6-521824ff88e7/jobs/4215/steps

It's really inconsistent, so I'm not sure how to even start debugging this problem. I was wondering if you guys have any suggestions. I'm running the test

[2020-07-06 18:53] Halt001 commented on #1746
Steps are easy, just do `npm init @open-wc` in an empty folder.

Answer questions like this:
✔ What would you like to do today? › Scaffold a new project
✔ What would you like to scaffold? › Web Component
✔ What would you like to add? › Linting (eslint & prettier), Testing (karma)
✔ Would you like to use typescript? › Yes
✔ Would you like to scaffold examples files for? › Testing (karma)
✔ What is

[2020-07-06 20:36] onkar75 opened #1750 "[doc] typo error in content :)"
on opening the https://open-wc.org/scoped-elements/,

the page contains a WARNING block , which is having a typo.

Please find attached screenshot for the same -

![image](https://user-images.githubusercontent.com/22467891/86639321-01f71580-bfd9-11ea-9b82-4fbb71724da1.png)

[2020-07-06 22:51] jarrodek commented on #1749
You can set different timeout in your `karma.config.js` file by adding:

[code]

The a11y tests are processed by axe-core library and you could ask for help there. The testing configuration offered by open-wc only adds axe-core to Chai and passes the configuration to the library. I never had a problem with a11y testing (especially timeouts) but when such arise I usually extend the timeout a bit.

[2020-07-06 23:32] mercmobily commented on #1747
Thank you for your help!

[2020-07-06 23:32] #1747 closed

[2020-07-07 09:29] MateWW opened #1751 "[E2E Testing] Scoped elements selectors"
Hello,
We are looking for some good way to select scoped element inside e2e test.
Currently we are trying to use some attributes to mark elements but it is ugly workaround which forces us to pass mostly unused attribute because of tests.

[2020-07-07 12:23] jorenbroekema commented on #1749
You think it could happen that the a11y analysis done by axe takes more than 2000ms on slower machines e.g. circleci docker image? I'll try to up the timeout a bit to see if that helps :) but 2000ms is quite a long time so I was wondering if it could be something else where it gets stuck indefinitely.

[2020-07-07 12:32] Westbrook commented on #1751
Have you ever looked into https://testing-library.com/docs/dom-testing-library/intro and the way it focuses on binding your E2E tests on the accessible structure of your DOM rather than on "test markers"? Regardless of how scoping the selector changes the naming of elements in the DOM tree, they should, in theory, and possibly in test, maintain the same "accessibility tree", which could make their

[2020-07-07 12:36] Westbrook commented on #1749
I've also found that on slower machines the `concurrency: Infinity,` setting in the config will flood the RAM of the boxes on Circle, which top out at 2 core 4 gb ram instances. We currently have the tuned all the way down at `concurrency: 1`, which helps reduce this, but there are still times when we hit the timeout anyways.

[2020-07-08 04:22] jarrodek commented on #1749
It's hard to say as it depends on the component. If it has a lot of DOM to scan then it might take a while. Remember that axe-core traverses the shadow root of each component that is added to your shadow root. This can grow very quickly without your intention.
I am using this module for a11y testing for months now and never had an issue with timeouts before. Maybe it's something else in your code?

[2020-07-08 13:20] bennypowers commented on #1750
Thanks for the report @onkar75, are you interested in issuing a PR to fix it yourself?

[2020-07-09 07:12] #1627 closed

[2020-07-09 18:49] MateWW commented on #1751
@Westbrook I'm not sure but testing library also recomend to add specific attribute `data-testid` to elements? I guess it's not worst idea but we are looking for some solution which will allow us to avoid that.

[2020-07-10 06:09] MateWW commented on #1632
@bennypowers Thanks for that advanced example. For now i need only aliases handling but i've got some problem with it.
In docs we can find near `Hook: resolveImport`:
[code]
So i guess i could overwrite path only for few aliases without using tons of unnecessary plugins.
When i want to add simple plugin with resolve of aliases it throws error because node-resolve cannot understand this alias.
What

[2020-07-11 03:12] #1662 closed

[2020-07-13 18:32] #1672 closed

[2020-07-15 19:21] #1585 closed

[2020-07-16 04:48] dtanp opened #1754 "[es-dev-server] Serve not supports Electron container"
Hi Team,

First of all, thanks for great tool. It helps to solve a lot of things!

Unfortunately, we found that es-dev-server doesn't consider `Electron` container as a modern browser and so it inject polyfills when I serve the page.

Here is the error in the console.

[code]

I currently use `-c none` as a workaround but I wish that `es-dev-server` can support Electron out-of-the-box.

After a bi

[2020-07-16 13:55] MaximePlancke opened #1755 "[semantic-dom-diff] Snapshot failing when tag attribute contains stringify JSON (Object attribute in LitElement)"
Hi all,

I am using open-wc with LitElement and I am testing my components with snapshots.

Here is an example of my test
[code]

This component contains an other component `<didomi-text/>` which also take an object (stringify JSON) as prop.

First I create my snapshot, everything goes fine and I have something like :
[code]

The issue appear when I run my test again at the moment the snapshot is

[2020-07-17 11:57] bennypowers opened #1756 "[mdjs] HTML Story meta"
HTML Stories (and for that matter, CSF stories) should be able to get their title from an `<sb-meta>` tag.

[code]

`<sb-meta>` would be defined to have `display: none;`

## Why?
`/?path=/docs/design-system-charts-gantt--html-story-0`
<img width="211" alt="Screen Shot 2020-07-17 at 15 03 56" src="https://user-images.githubusercontent.com/1466420/87784344-c3feba80-c83e-11ea-8bc1-788801d10617.png">

[2020-07-17 14:26] MaximePlancke commented on #1755
I solved my issue by using

[code]

instead of

[code]

and I am testing my `text` attribute  like so:

[code]

[2020-07-17 14:26] #1755 closed

[2020-07-17 14:45] #1685 closed

[2020-07-17 16:05] LarsDenBakker commented on #1728
Sorry for the late response here. It looks like you are compiling to es5, this requires loading the custom elements es5 adapter because of the way typescript compiles away classes. Babel does work though.

I don't recommend running tests with es5, since that's only needed for IE11 now. Browsers support much higher versions.

[2020-07-17 16:06] LarsDenBakker commented on #1754
We're working on a new version of the dev server where this logic is different. We should be able to support this then.

[2020-07-17 16:08] LarsDenBakker commented on #1748
We recommend no-bundle development, this is what the project scaffolding sets up. We already have a lot of command as it is, I don't think it's a good idea to add more just to cover every possible use case.

[2020-07-17 16:08] #1748 closed

[2020-07-19 00:52] bengfarrell opened #1757 "ES-Dev-Server: File request returns 404 if requested file has no extension"
The title is hopefully pretty self explanatory. I just got finished in an afternoon of hair pulling why some library code I had was erroring out. Turns out that their error wasn't so helpful, and a file it needed wasn't being served by es-dev-server.

My usecase was with a TensorFlow derived project called FaceAPI. Seems fairly standard that the binary model files don't have extensions. Luckily I

[2020-07-19 06:31] LarsDenBakker commented on #1757
I assume the file you are requesting exists on disk without file extension too? Or you expecting some file extension resolve logic?

Are you using the `--app-index` flag? In that cause that's likely the cause https://github.com/open-wc/open-wc/blob/master/packages/es-dev-server/src/middleware/history-api-fallback.ts#L17 and you're right this should be supported use case.

[2020-07-19 06:41] bengfarrell commented on #1757
I'm not familiar with the app-index flag, so I assume I'm not using it. Really, I'm just using es-dev-server for bare-module importing and static file serving. And that's to further say that the file does indeed on disk without the file extension, so def not expecting resolve logic.

I'm starting it with:
`npx es-dev-server --watch --node-resolve --open=myurl`

And my config looks like this:
`modu

[2020-07-19 06:46] LarsDenBakker commented on #1757
Yeah you're using `appIndex` from the config, this is necessary when you do front-end routing. It returns the index.html on any URL if you refresh the page.

In order to know whether you requested a file or are doing a navigation, we check if the request has a file extension. Using files without extensions and doing front-end routing is definitely a bit of an in-between scenario.

[2020-07-19 07:00] bengfarrell commented on #1757
Gotcha, that makes sense. Looks like you're already on top of it with the open issue on dev-server-core. I probably wouldn't even have reported since I can easily workaround. Just wanted to report if it helps, cause I dig the project! Thanks, and feel free to close the issue if you're tracking elsewhere or can't/won't resolve.

[2020-07-19 07:10] LarsDenBakker commented on #1757
I'll track this in the other issue indeed. Thanks for reporting it :)

[2020-07-19 07:10] #1757 closed

[2020-07-19 23:46] #1691 closed

[2020-07-20 18:09] LarsDenBakker commented on #1730
Do you have examples of when this would be useful? The static middleware is already the last in line, so which middleware would use this? And why wouldn't you use a serve plugin instead?

[2020-07-20 19:17] tmsns commented on #1730
Sure! 😊
If a user wants to use a regular koa middleware that creates a response before `next()`, eg:
 (I checked a few of them)
- https://github.com/koajs/koa/wiki#file-serving
  - https://github.com/Secbone/koa-static2/blob/master/index.js#L28
- https://github.com/koajs/koa/wiki#templating
  - https://github.com/queckezz/koa-views/blob/master/src/index.js#L87
  - https://github.com/dominicbarnes/

[2020-07-21 12:31] mercmobily opened #1758 "Extending Open-wc"
Hi guys,

We have put together a ton and a half of well documented patterns and code to make SPAs. We would like to make these available to everybody.

We have a set of libraries, but we would rather see them as "kits". Each "kit" will add files to the example application, and modify (with a script) the main component file (so that new links are added to the menu, and the right elements are added

[2020-07-22 18:22] LarsDenBakker commented on #1730
I will add this in the new generation of the dev server, which we will backport to es-dev-server with a breaking change soon as well. This way we don't break existing code on accident.

https://github.com/modernweb-dev/web/pull/241

[2020-07-22 21:13] Holyphoenix opened #1759 "Generate scaffolding with storybook demo and typescript, no stories found by default"
I generated the scaffolding for a web component application, and told it to include storybook for demo purposes (including adding the default story).  I also told it to use typescript.  With these options, upon building or running storybook it does not find the default storybook.

It works if I update main.js to look for stories in
'../out-tsc/**/stories/*.stories.{js,md,mdx}'
instead of
'../\*\*/

[2020-07-22 22:10] mercmobily commented on #1758
Sorry if I asked a difficult question! I have a working solution using a monorepo, a npm package with the mono repo, and running `npm install` using a subdirectory of the mono repo. It seems to be working well! However, I am still very open to alternatives that are more open-wc-ish.

[2020-07-22 23:11] daKmoR commented on #1758
You could extend the [open-wc generator](https://github.com/open-wc/open-wc/tree/master/packages/create) if you are wanna be adventurous 😬
I mean it definitely works and we have some internal variations that output different options/results... however there is little to no documentation so the code would need to be your guide 😅

its not much code as it's quite straight forward with no extra featur

[2020-07-23 00:30] mercmobily commented on #1758
I didn't know about plop! I will see if I get away with my 10-liners simple solution using npm. Thanks for your help!

[2020-07-23 00:31] #1758 closed

[2020-07-23 14:51] thepassle commented on #1759
This seems to be working for me, the only thing is that you need to run `tsc` once before starting storybook. Maybe we should change the `storybook` script to `"storybook": "tsc && concurrently --kill-others --names tsc,storybook \"npm run tsc:watch\" \"start-storybook --node-resolve --watch --open\"",`

[2020-07-24 02:14] justinfagnani opened #1761 "[es-dev-server] How to disable message channel script injection"
Sometime recently es-dev-server started injection the message channel script into some data .html files in a project. This project is an editor, so the HTML files now have the extra scripts in user-facing content.

How can I disable this? I'm using `--node-resolve`, and not `--watch`. I don't see an option to turn off logging to the server which looks like it'd disable the script injection.

[2020-07-24 06:41] LarsDenBakker commented on #1761
`--node-resolve`, `--watch` and `--compatibility` (which has auto by default) all cause injection of the script. I'm working on an big update for EDS where the detection of HTML pages is improved but I'm not sure if it would solve this case.

I added a flag to disable injection. I called it event stream for future compatibility: `--event-stream false`

[2020-07-24 07:37] #1164 closed

[2020-07-24 08:39] oliversalzburg opened #1763 "Generated project scripts fail to open browsers and die"
I'm new to the entire WC subject and tried to use your project generator, which resulted in several issues:

1. The `npm run start` command fails, because the es-dev-server (or whatever down the line) doesn't find a browser and this situation is unhandled. Results in a broken command line and hard exit of the process.
  This can be resolved by removing `--open` from the script, but graceful handli

[2020-07-24 20:07] Holyphoenix commented on #1759
Oh, duh moment for me.  That does work, thanks!

[2020-07-24 20:07] #1759 closed

[2020-07-25 09:38] thepassle commented on #1697
These look great 🙂

Here's my 2c:

- I do think these would fit best in the `best practices` section, which will probably also the most easy/recognizable for people to find.

- A lot of these seem to use typescript, which really goes against the buildless approach that we preach with open-wc. Id be interested to hear what the others think about this.

- `Styling slotted content` not sure if this i

[2020-07-25 11:30] Christian24 commented on #1697
Thanks. Let me tell you what I think.

I do not have much of an opinion as to where to publish this. However, I am opinionated on the content: I see these as options, not rules to follow. I would not see the guide preaching the use of Typescript nor buildless, nor would I want it to. Would it ease your mind if the Typescript things would go into its own heading called something like: "For Typescri

[2020-07-26 17:51] justinfagnani commented on #1761
This is probably good for my case for now, since I don't use `--watch` much, but for those who do they might not want to turn off the script injection completely. In my case I have .html demo files that are loaded by a text editor. A glob pattern on what files to include or exclude from any kind of processing would be useful.

[2020-07-26 22:48] aaroncadillac opened #1768 "createServer doesn't apply all my config"
Starting by port, that i had to specify manualy when i call to `listen` method, other configs like `open`, `appIndex` and others doesn't apply... why?

This is my config

[code]

So when I use `createServer (config)` my server doesn't work the way I want, with `startServer` it works!

[2020-07-27 07:29] LarsDenBakker commented on #1768
What are you expecting `createServer` to do with the port? It doesn't start the server, so it can't set up a listen with the port. That's what `startServer` is for. Opening the browser is also something which just `startServer` does. If that's what you need, I recommend using that instead.

[2020-07-27 17:49] aaroncadillac commented on #1768
My opinion is: `createServer` and `startServer` should only be different because the first function only creates and configures the server and the second one also starts it, but the full configuration must be applied and the server will be ready to listen, waiting for the manual request

[2020-07-27 18:01] oliversalzburg commented on #1763
As noted in the refrenced ticket, this is due to the fact that `cmd.exe` is not available on the `PATH`. The appending of the Windows `PATH` to the WSL `PATH` can be disabled in the WSL settings, which is what I did.

[2020-07-27 18:01] #1763 closed

[2020-07-27 19:04] ARuzek opened #1772 "[CLI] Upgrade doesn't yield expected results"
When using the "Upgrade an existing project" on the CLI, the only package updated was to `"lint-staged" : "^10.0.0"` even though I have other other packages such as the following that I would assume have updates available based on change log and version numbers on the npm library listings. For example:

[code]
On further inspection, I see that scaffolding a new project also uses these package vers

[2020-07-27 22:57] Halt001 commented on #1746
@bennypowers were you able to reproduce the problem?

[2020-07-31 17:33] #1705 closed

[2020-07-31 17:33] #1701 closed

[2020-08-02 00:03] #1709 closed

[2020-08-03 19:25] lpellegr opened #1780 "Configuring workbox to exclude a path from cache"
I really love what you do with open-wc. Usually, the documentation contains all I need but Today I am fighting with Workbox.

My app is deployed on Firebase with a custom domain. A specific folder/path, let's say `data/**/*` is mapped to a serverless function.

What I would like to achieve is to have Workbox to not cache all paths under `data`. Looking at the workbox documentation it seems the net

[2020-08-03 19:41] thepassle commented on #1780
You can override our default workbox configuration like so:

[code]

Its probably a bit much to switch to `injectManifest` to achieve what you want, you should be able to just add the `data` glob to the `globIgnores` of the workbox config

You're right that it could be more clear from the docs how to extend the workbox config, ill improve that soon 🙂

[2020-08-03 21:54] lpellegr commented on #1780
Thanks a lot for your help. Unfortunately, it seems not to work.

When I open the URL:
https://my.custom.domain.com/data//MvWDKYKaLUyb5Nvsp6C9/dummy

The SPA app is loaded by default. If I do a force refresh, the page SPA is bypassed and the serverless function is invoked. However, if I close the browser and reopen the same URL the SPA loads again in first. This behavior is the same whether I appl

[2020-08-04 03:59] Tomastomaslol commented on #1460
Hi @LarsDenBakker It looks like the previous attempt to solve this was closed due to inactivity. Are you happy with me trying to get a fix merged for this issue?

[2020-08-04 05:32] LarsDenBakker commented on #1460
Yep!

[2020-08-04 05:33] #1460 closed

[2020-08-04 08:53] thepassle commented on #1780
I'm not expecting there to be a reference of `data/`, workbox should ignore putting anything from `data/` in your precache manifest

[2020-08-05 06:12] bengfarrell opened #1787 "[es-dev-server] Partial Range Requests"
Hi, I'm guessing that my issue is the lack of support of partial range HTTP requests, but I definitely stand to be corrected.

My use case is that I have a web component which serves as a video timeline scrubber. Setting the time on my video does not work, despite me using the proper HTML5 video API to do so. I'm using es-dev-server to serve my app during development and all assets (including the

[2020-08-05 12:09] ykant opened #1788 "[babel-plugin-error]Build error when 'npm run build' for the new application"
[code]

[2020-08-05 14:58] LarsDenBakker commented on #1788
This is caused by a bug in babel. They just fixed it: https://github.com/babel/babel/issues/11914#issuecomment-669235280 if you reinstall without a package lock, this should work again.

[2020-08-05 14:58] #1788 closed

[2020-08-05 14:59] LarsDenBakker commented on #1787
I don't have any experience working with range requests, but we should be able to support this with es-dev-server. Do you know if this works with a plain Koa server? I don't see what we could be doing that causes this to not work.

[2020-08-05 15:00] LarsDenBakker commented on #1768
We can't apply the port configuration if the server did not start yet, that's the point of the separate functions. We can't change how node's HTTP server works unfortunately.

[2020-08-05 15:14] #1256 closed

[2020-08-06 01:34] bengfarrell commented on #1787
I'm actually not familiar with Koa. So I just tried installing it for the first time and serving some static files. And no, the same use-case does not work here either.

However, I also installed the module `koa-range`, and then doing the just adding a line telling my app to "use" the import and suddenly my video was scrubbing just great.

`const Koa = require('koa');
const serve = require('koa-st

[2020-08-06 10:24] juliaheller opened #1793 "npm init @open-wc not working"
Hey,
I cannot initialise open-wc.
I get e.g. these errors:
"Install for [ '@open-wc/create@latest' ] failed with code 1"
"silly fetchPackageMetaData error for @open-wc/create@latest 404 Not Found - GET https://registry.npmjs.org/@open-wc%2fcreate - Not found"

[2020-08-06 10:34] thepassle commented on #1793
It seems like npm is having problems today, this is likely related to that

[2020-08-06 16:11] LarsDenBakker commented on #1787
Definitely, that's what the `middleware` option in the config is for. We've had other requests for this, good to know this is the solution. I will keep this issue open, maybe we'll add this middleware by default or we'll improve the docs.

[2020-08-06 21:13] Alos commented on #1186
So to clarify, the open-wc startup skeleton app does not have a way to build a "publishable" web component and we need to add this on our own?

[2020-08-07 03:35] bengfarrell commented on #1787
Thanks for the recommendation! I'm this can easily be done, as I was running into cross origin issues with my video if on a diff server.

I didn't feel it was crystal clear on how to use middleware, and ended up reading the source code. Likely because I wasn't familiar with Koa. I was confused on what function to pass in, and how to get a ref to the app or server variable, so I could do `app.use(r

[2020-08-07 05:23] LarsDenBakker commented on #1186
We actually got around to writing these docs now: https://open-wc.org/publishing/

We recommend people to write and publish standard JS, thus there is no build tools needed for the web component generator. If you use typescript you need to compile away the types, if you pick the typescript the tools for that are included.

I'll close this since the original issue was solved, but feel free to creat

[2020-08-07 07:38] ykant opened #1796 "[CLI]System is not defined"
[code]

There is a error in the console
The demo built by legacyBuild: true

[2020-08-07 17:13] Alos opened #1797 "Open-wc skeleton app is not able to publish according to the guidelines"
### Overview

The guide on [publishing](https://open-wc.org/publishing/) mentions a series of Do's and Dont's that developers should follow. When you scaffold a new project with `npm init @open-wc` the generated project is not able to be published correctly.

### Steps to reproduce
1. Run `npm init @open-wc`
2. Select the following:
[code]
3. Run `npm publish --dry-run`

Notice how the `dist/` dir

[2020-08-07 17:14] Alos commented on #1186
Right, the issue is that by default, the open-wc skeleton is not configured to follow the rules outlined. I've created another issue to track that: #1797

Let me know if I'm doing something wrong.

[2020-08-08 02:49] #1707 closed

[2020-08-08 02:49] #1714 closed

[2020-08-08 02:49] #1717 closed

[2020-08-08 08:12] LarsDenBakker commented on #1797
You're definitely right, we should make sure you can properly publish the scaffolded typescript project.

[2020-08-08 08:13] LarsDenBakker commented on #1186
Thanks. Will close this one and track the other issue in the new one.

[2020-08-08 08:13] #1186 closed

[2020-08-08 12:00] davidbwaters opened #1798 "Not properly loading es6 converted module"
Hi.  I'm trying to use [@johh/three-effectcomposer](https://www.npmjs.com/package/@johh/three-effectcomposer) in my project which is has a module converted to an es6 module but it fails to import correctly giving the error 'does not provide an export named ..' for both named and default exports.

[2020-08-08 12:12] LarsDenBakker commented on #1798
Can you provide some more context here? What is not properly loading this module?

Looking at the output it is a commonjs module: https://unpkg.com/browse/@johh/three-effectcomposer@0.0.7/dist/index.js so in node js you can include it using require. The browser can't load commonjs modules, so you will need to set up some tooling or ask the library author to ship web compatible code.

[2020-08-08 16:15] davidbwaters commented on #1798
Thanks for the quick reply. I was confused about what the bottom line 'esModule' means.  The description says 'three.js's r105 EffectComposer ported to ES6 for easy importing.' from https://github.com/johh/three-effectcomposer. I saw it was used here with 'import' syntax [here](https://github.com/akella/webgl-mouseover-effects/blob/master/js/scene.js) in the demo code from a Codrops article.  That

[2020-08-08 16:28] davidbwaters commented on #1798
I searched and found that the code 'interop-require-default' was added by Babel so modules can be consumed as ES modules also.  I'm just not sure why it doesn't work.  https://stackoverflow.com/questions/51159447/what-is-interoprequiredefault/52008959

[2020-08-08 16:29] LarsDenBakker commented on #1798
It's ironic that the library advertises to use es6 modules, but doesn't actually ship them. The demo of that project builds and bundles the code before serving it to the browser, that's why it works. You will need to do the same unfortunately.

Our setup is mostly based around buildless development, we have some presets for using typescript but not for converting commonjs to es modules since it's

[2020-08-08 16:41] davidbwaters commented on #1798
Well OK haha that's a confusing issue.  Thanks.  So I guess there's no straightforward way to add this as a Rollup step with a Babel transform, I guess?

[2020-08-08 16:54] LarsDenBakker commented on #1798
Modules are in a funky state right now, but it's getting better.

For rollup you can use https://github.com/rollup/plugins/tree/master/packages/commonjs, but it does require running rollup during development before serving to the browser.

[2020-08-08 17:20] davidbwaters commented on #1798
Thanks.  It looks like the actual source from Github is written as an ES module, but not the NPM version, since the src folder is in .npmignore.  NPM can download the from GH, but it's unreliable.  I'll raise an issue with the maintainer and just keep the untranspiled code in a folder to import it.

[2020-08-09 01:03] #1719 closed

[2020-08-09 01:03] #1720 closed

[2020-08-09 04:14] davidmaxwaterman opened #1799 "[es-dev-server] Fails on message-channel with polymer 2 project"
This 'stale' thing is tiresome:

https://github.com/open-wc/open-wc/issues/1720

[2020-08-09 08:04] LarsDenBakker commented on #1799
I reopened the original issue.

[2020-08-09 08:04] #1799 closed

[2020-08-09 08:05] LarsDenBakker commented on #1720
There is an `--event-stream` option you can set to false to prevent injecting the message channel now: https://github.com/open-wc/open-wc/tree/master/packages/es-dev-server#code-transformation

[2020-08-09 08:24] davidmaxwaterman commented on #1720
Confirmed working. Thanks!

[2020-08-09 08:26] davidmaxwaterman commented on #1720
I find myself wondering what is causing the problem...and what the benefit is of the 'message channel' that I am missing out on when I disable it.

[2020-08-09 08:35] LarsDenBakker commented on #1720
It's used to reload the browser in watch mode, and to log syntax errors to the bowser console.

[2020-08-09 08:41] davidmaxwaterman commented on #1720
Ah, thanks for that. No great loss then, I suppose :) I never use 'watch mode' - I suppose I might have benefited from logging syntax errors to the dev console, but not realised where they had come from...

Any reason why that wouldn't work for a Polymer 2 app?

[2020-08-10 03:46] Westbrook commented on #1772
"Upgrade an existing project" is meant for adding tooling to a project that doesn't currently have it. So if you have a component repo that doesn't have Storybook, use "Upgrade an existing project" and you can add Storybook to that repo, etc. If you are looking to upgrade the actual package versions in your project, please rely on `yarn upgrade` or `npm update` to manage your lock files, or manual

[2020-08-10 03:46] #1772 closed

[2020-08-10 03:49] Westbrook commented on #1793
@juliaheller are you continuing to see this issue? I've checked and not run into the 404 just now, which leads me to agree with @thepassle on this.

If you are still seeing this issue, please reach out with any other info you can share about your set up. However, closing for now.

[2020-08-10 03:49] #1793 closed

[2020-08-10 16:30] #1583 closed

[2020-08-10 19:25] #1517 closed

[2020-08-11 20:15] diegosanchezp opened #1804 "[@import-maps/generate] Ignore dependency"
Is there any way to ignore a dependency when generating the import map?

For example I'm installing [es-module-shims](https://www.npmjs.com/package/es-module-shims) via yarn as `yarn add es-module-shims`.

It doesn't make sense to include it in a import map because this is the polyfill that make import-maps work and neither install it as development dependency, since this code will be shipped to t

[2020-08-14 09:54] Jeevankumar555 opened #1809 "usage of startsWith in transform.js for version 1.2.x"
Hi, We are using this dependency in our web components in order to use the ScopedElementsMixin and observed that it has this code using **startsWith** in transform.js and our web component broke to render in IE11 due to the latest dependency (1.2.0) that pulled in the usage of this function.
Hence we fallback to 1.1.x

https://github.com/open-wc/open-wc/blob/4d8143cb62afe151e9affa209529131419a077b

[2020-08-14 12:40] manolakis commented on #1809
Hello @Jeevankumar555,

It's a small change and I think it can be fixed to make it work on IE11 out of the box 🤗

However, as you said, it's an App responsibility to load the required polyfills and transpile the code to make it work on older browsers.

[2020-08-14 18:12] #1809 closed

[2020-08-17 09:24] aronerben commented on #1534
This was really helpful, thanks @gpista!

[2020-08-17 12:16] wsloth commented on #1522
Issue not resolved, but switched over to rollup as well and will drop this as it's a very low-prio nice to have.

[2020-08-17 12:16] #1522 closed

[2020-08-17 14:12] jorenbroekema opened #1811 "[es-dev-server] crashes fatally upon missing opening `{` syntax error when using node resolve flag"
EDS crashes fatally on specific syntax error where you miss opening '{' bracket and have brackets later in the code. When using node-resolve flag, the server crashes on it and keeps crashing even after you've already fixed the syntax error:

[code]

## Reproduce

- Create index.js (loaded in index.html)
[code]
- Run es-dev-server --node-resolve (without node resolve it works, so it's probably rela

[2020-08-17 14:16] jorenbroekema opened #1812 "[es-dev-server] Event Stream related server logs while eventStream is false"
Somehow I'm still getting Event Stream related errors in my server logs even though I've set eventStream to false.

Could this be because the message channel is still created on the server side trying to send? I suspect eventStream false only prevents the browser script insertion, but I would actually like to squeeze more performance out of EDS by explicitly disabling event stream entirely.

[2020-08-17 16:21] jorenbroekema commented on #1811
Maybe this is related to cache? Do you cache import resolutions on the server? Because that could explain why it cannot recover from the error maybe 🤔

[2020-08-18 04:36] mercmobily commented on #1758
I know this is a closed ticket, but I ended up spending a few hours putting this together for my own use:

https://www.npmjs.com/package/scaffoldizer

I ended up with something very neat. I need to document it, but it won't take long. I am about to write a huge scaffolding system to enrich open-wc apps.

I was also thinking on converting open-wc's init script to this. Let me know if you are at all

[2020-08-19 17:58] robborrego opened #1816 "[demoing-storybook] Allow theming"
As a user I would like to theme storybook to match my company brand. Currently demoing-storybook does not export the `create` method required for theming. The package should match storybook's native ability to be themed. See https://storybook.js.org/docs/react/configure/theming

[2020-08-21 03:54] davidmaxwaterman commented on #1720
Sorry to bring this up again, but there are two problems:

1. The 'help' doesn't give as useful information as the github readme, or indeed the other options:

[code]

It might seem trivial, but the other options don't have strings for options that are presumably boolean, so the user is left wondering what the 'string' is. The other options that require strings actually say what the options are, b

[2020-08-24 13:55] corocoto opened #1820 "Errors occurring when testing a component in a mono-repo"
### Description
I'm trying to run `test` script inside one of exists repos (name of the repository I'm working with is `nf-front`).
These repos are locate inside `packages` folder.

So when I'm trying to run `test` script, then I'm get errors like these (and the component's test execution is interrupted):

![errors](https://user-images.githubusercontent.com/37180024/91051909-6c1b5680-e629-11ea-989

[2020-08-24 15:08] LarsDenBakker commented on #1820
This is because all the files used by your tests must be within the

[2020-08-24 18:50] corocoto commented on #1820
@LarsDenBakker, thanks a lot

[2020-08-24 18:50] #1820 closed

[2020-08-24 19:02] Christian24 commented on #1697
I added some more text on attributes. And I added a very simple TOC.

[2020-08-25 13:00] quentin29200 opened #1821 "[karma-esm] how to use alias"
Hi, all my webcomponents use alias import such as

`import myService from "@services/myService"`

Test failed with this message

I tried to use this https://github.com/open-wc/open-wc/issues/1632#issuecomment-629771617 but have no effect.

I tried to use module-solver babel plugin in babelConfig of esm (karma.conf) but have no effect too.

So I tried to set a [hook resolve import](https://open-wc.

[2020-08-25 13:23] LarsDenBakker commented on #1821
I'm not sure what you mean by alias? An import like that should resolve to `node_modules/@services/myService`.

[2020-08-25 13:49] quentin29200 commented on #1821
I defined alias in resolve of webpack,  shortcut of folder

[code]

So I can import services :

[code]

and webpack resolve the path.

It's work fine for production or with storybook, but Karma do not use webpack.
So I'm looking for a solution to run it with Karma-esm

[2020-08-25 13:51] LarsDenBakker commented on #1821
You will need to build your code with webpack if you rely on it. karma-esm is intended for testing code that doesn't need to be built, using regular es modules. You probably want to use https://www.npmjs.com/package/karma-webpack.

[2020-08-27 09:35] AliMD commented on #1408
same issue
I just run `es-dev-server` from root and address package in browser and its work fine for me
dont need to use lerna at all and I think yarn 1 workspace ir fine, if you need lerna for this case its better to witch to yarn2

[2020-08-27 15:07] JosefJezek commented on #1619
@LarsDenBakker Why the build needs babel-helpers?

[2020-08-27 22:19] LarsDenBakker commented on #1619
@JosefJezek because we run babel to compile to a lower target. This is now solved on master though.

[2020-08-27 22:19] #1619 closed

[2020-08-27 22:20] LarsDenBakker commented on #1625
Sorry this took much longer to get around to than I wanted.

We're not avoiding the helper chunk entirely for the modern build.

[2020-08-27 22:20] #1625 closed

[2020-08-28 14:07] nicolasr75 opened #1823 "Typo in es-dev-server docs"
A typo in

https://github.com/open-wc/open-wc/tree/master/packages/es-dev-server

in chapter "index.html in a folder":

"So if your app uses any node modules, they will no longer because accessible."

should probably be

"So if your app uses any node modules, they will no longer be accessible."

[2020-08-28 21:05] teamgroove commented on #1397
@korial29 Thank you for your time creating the issue in the first place. Someone stole some time and corrected the docs and created a PR. Please come back, if you see any issues that need to be corrected. It might take some time, and get prioritized, but you are heard, of course. It's been done. Thank you! https://github.com/open-wc/open-wc/pull/1815#event-3672150732

[2020-08-28 21:21] #1750 closed

[2020-08-28 21:21] #1749 closed

[2020-08-28 21:21] #1745 closed

[2020-08-30 03:32] #1751 closed

[2020-08-30 22:38] #1632 closed

[2020-09-01 07:29] abdullahkamran opened #1824 "[karma-esm] Exclude 3rd party source code from coverage"
## Description
I'm using a library from a 3rd party vendor in my app. I want its source code to be excluded from test coverage. The directory structure is as follows:

    packages
        -> my-component
            -> vendor
                ->thirdpartylib.js
            -> src
                ->myFile.js
            -> test
                ->myFile.test.js
    karma.conf.js

In myFile.js I have

[2020-09-01 14:15] LarsDenBakker commented on #1811
Filed upstream https://github.com/guybedford/es-module-lexer/issues/52

[2020-09-01 20:39] imtiyazthange commented on #1289
Same issue here, did you guys got a fix for this one.
[code]

[2020-09-01 20:44] LarsDenBakker commented on #1289
Karma viewport doensn't work with karma-esm because we have to hack around karma to make it work with native es modules. There isn't anything we can do to change that.

We have been working on a new test runner, Web Test Runner, we will recommending this from open-wc soon. https://modern-web.dev/docs/test-runner/overview/

This properly supports testing different viewports: https://modern-web.dev/

[2020-09-01 20:51] LarsDenBakker commented on #1824
I'm not sure what to suggest here, we are using the exclude here and it's working: https://github.com/open-wc/open-wc/blob/master/karma.conf.js#L29

We pass it to `babel-plugin-istanbul` here: https://github.com/open-wc/open-wc/blob/master/packages/karma-esm/src/esm-config.js#L54

We are soon switching to our new test runner, you could look into that if Karma is giving issues. https://modern-web.d

[2020-09-02 06:51] LarsDenBakker commented on #1804
Sorry for being late here. We should definitely add this, though we aren't quite focusing on the generate package right now. PRs here are welcome :)

[2020-09-02 07:01] LarsDenBakker commented on #1681
Hi all 👋 An update from our side. We are now live with "Modern Web", that will be the place where we will create generic tooling related to buildless development. open-wc will be a child project, with a focus on web components.

Check out the blog post here: https://modern-web.dev/blog/introducing-modern-web/

The transition will be gradual, we will slowly move packages one by one.

[2020-09-02 14:16] lakshaysharmaadp opened #1825 "MODULE NOT FOUND Error in es-dev-server"
[code]

I get the above output when running a project created from npm init @open-wc

[2020-09-02 15:04] LarsDenBakker commented on #1825
I just tried a freshly scaffolded app, and that works fine for me. Can you share some more information? What options did you choose? What version of node are you using?

[2020-09-02 15:12] lakshaysharmaadp commented on #1825
npm version: 6.13.1
node version: v13.3.0

I chose to create an application and chose all the options

[2020-09-02 15:13] LarsDenBakker commented on #1825
node v13 is end of life unfortunately, can you try with node v12 or v14?

[2020-09-02 16:31] lakshaysharmaadp commented on #1825
Sure thing. My bad on not keeping up with node releases.

[2020-09-02 16:36] LarsDenBakker commented on #1825
It's pretty confusing honestly, and node v13 has a bug with native es modules which rollup pluginutils is using so it's breaking for a lot of people...

[2020-09-02 16:51] lakshaysharmaadp commented on #1825
It works now! Thank you.

[2020-09-02 16:51] #1825 closed

[2020-09-03 13:36] buzzub opened #1826 "Unused @ts-expect-error directive in @open-wc/testing-helpers"
A change introduced in @open-wc/testing-helpers 1.8.9 (https://github.com/open-wc/open-wc/commit/88ffd995efeb94d79ee686f665d18e8ca405e3bc) is causing an error when running all our tests via jest. The addition of `// @ts-expect-error` produces this error:

[code]

The only way we can get around this error is by limiting the version of @open-wc/testing-helpers to 1.8.8

What is the purpose of the @t

[2020-09-03 15:52] michaelwarren1106 opened #1827 "[scoped-elements] Typescript Base constructors must all have the same return type"
i have defined a LitElement class as:

[code]
in a Typescript file and project.

With a recent update to Typescript, i'm now getting compiler errors like
[code]

and I'm not really sure what to do to resolve it. I've ignored that message for now, since the code still obviously works and I'm not terribly concerned about this particular typing problem, but wanted to get some guidance on how to defin

[2020-09-05 01:46] blikblum opened #1828 "[eslint-config] linting setup stops to work when upgrading to eslint-config v3"
Steps to reproduce:

Scaffold a project with `npm init @open-wc`

√ What would you like to do today? » Scaffold a new project
√ What would you like to scaffold? » Web Component
√ What would you like to add? » Linting (eslint & prettier)
√ Would you like to use typescript? » No
√ What is the tag name of your application/web component? ... x-app

Install with yarn (will install @open-wc/eslint-confi

[2020-09-05 01:56] blikblum commented on #1828
If i remove eslint dev dependency from project, the script works

But now i get the following error when a class field is added:

`error  Parsing error: Unexpected token =`

Seems babel-eslint parser was removed on v3

[2020-09-05 18:25] daKmoR commented on #1826
@buzzub would a `// @ts-ignore` work?

@bennypowers why did we go for expect error again? 🤔

[2020-09-05 18:37] buzzub commented on #1826
@ts-ignore would work fine. @ts-expect-error doesn’t get an error / isn’t used and that causes the problem.

[2020-09-07 03:14] #1756 closed

[2020-09-07 03:14] #1728 closed

[2020-09-07 07:22] bennypowers commented on #1826
`@ts-expect-error` is preferable to `@ts-ignore` in most cases, as `@ts-ignore` will simply suppress all errors, whereas `@ts-expect-error` tells the compiler that there should be an error on that line, for example, when unit testing bad input to a function that throws on bad input.

If the compiler finds a `@ts-expect-error` but _doesn't_ find an error afterwards, that itself becomes an error.

S

[2020-09-07 09:15] buzzub commented on #1826
Yes, just removed `@ts-expect-error` line and the tests run just fine. I also switched it to `@ts-ignore` and the tests still compile fine.

We are using Typescritpt 4.0.2

FYI compiler options from tsconfig below, but I can't find any relevant config that would prevent this error:
[code]

[2020-09-07 09:26] jimmy-collazos opened #1829 "[docs] Is there a plan to translate the documentation into other languages?"
Hi everyone!
I want to contribute and help to translate the website (the info and guidelines) but I can't found any organization to translate documentation.

Is there a plan to translate the documentation into other languages?

Thanks to all for any info about that.

[2020-09-07 09:33] bennypowers commented on #1826
without having looked deeply into it, my impression is that TypeScript 4 fixed whatever the type error was the @jorenbroekema  originally had.

@jorenbroekema  can you confirm?

@daKmoR Do we want to require ts 4 for this package?

[2020-09-07 10:02] jorenbroekema commented on #1826
Hmm that's pretty odd, I looked into https://github.com/microsoft/TypeScript/issues/40110 again and Ryan marked it as a bug and to fix for 4.1.0, and if I check the typescript playground, it seems like it's still broken vor 4.0.2.

Did we look into just upgrading all of open-wc to use TS 4 yet? If nothing breaks, I guess we could just go with it and remove the ts-expect-error, but I'm not sure how

[2020-09-07 10:24] quentin29200 commented on #1821
Ok, i'm trying this
thank's

[2020-09-07 10:24] #1821 closed

[2020-09-07 11:00] bennypowers commented on #1826
maybe OP is using VS Code, which bundles TS 4.1.0?

[2020-09-07 15:35] jorenbroekema commented on #1812
Hmm I do believe that if `eventStream` is set to false, it should be turned off on both server side and as inserted client side script. What do you think @LarsDenBakker  ?

[2020-09-07 17:49] felixapitzsch opened #1830 "Outdated terser does not support optional chaining"
open-wc uses outdated versions of `terser` and `rollup-plugin-terser` as dependencies which will break on code with optional chaining (ES2020). Please update to dependency versions using at least terser ^5.2.0 in order to allow for optional chaining code with open-wc.

[2020-09-07 17:52] felixapitzsch commented on #1830
This will also fix https://github.com/open-wc/open-wc/pull/1805#issue-467202783 .

[2020-09-07 21:51] LarsDenBakker commented on #1830
I updated the rollup plugin inhttps://github.com/open-wc/open-wc/pull/1831, updating terser itself will be done later but I think this will fix the issue for most user code.

[2020-09-07 21:54] LarsDenBakker commented on #1812
What kind of logs are you seeing? We should tackle this in web dev server.

[2020-09-07 21:55] LarsDenBakker commented on #1666
Fixes by https://github.com/open-wc/open-wc/pull/1783

[2020-09-07 21:55] #1666 closed

[2020-09-07 22:09] #1830 closed

[2020-09-07 22:15] LarsDenBakker commented on #1828
Thanks for reporting. We need to update the scaffolding. In eslint v3 it's no longer possible to create configuration presets, people need to install all dependencies manually. That's how eslint works now...

We removed babel-eslint because we had it temporarily only for dynamic import, import.meta.url and optional chaining.

[2020-09-07 23:04] blikblum commented on #1828
Hi, eslint dependency of @open-wc/eslint-config is v6, not v3 (i referred v3 to @open-wc/eslint-config)

eslint-plugin-wc, eslint-config-airbnb-base, eslint-plugin-html are dependenies of @open-wc/eslint-config and not need to be installed manually.

The initial problem reported is due to a conflict between installation of two eslint versions, one in main project and other as dependency of @open-w

[2020-09-09 03:40] tvvignesh commented on #1681
@LarsDenBakker This is awesome. Really appreciate the efforts from you all. One suggestion. It would be better to link this issue in the related repo's README (eg. es-dev-server) so that people would migrate from `es-dev-server` to `@web/dev-server`

Thanks.

[2020-09-09 15:11] jorenbroekema commented on #1812
[code]

Is one example I think?

[2020-09-09 15:13] LarsDenBakker commented on #1812
those logs are not related to the event stream

[2020-09-09 15:21] jorenbroekema commented on #1812
oh.. Do you know where else I could look in EDS for readable stream being prematurely closed? This error usually happens when you load up the browser and then close it before EDS is done serving the files to the client. Not sure to what EDS feature this is related or if it's koa related?

[2020-09-09 15:36] LarsDenBakker commented on #1812
I'm not really sure.. I've tried to debug it in the past but couldn't figure it out yet.

[2020-09-10 06:08] LarsDenBakker commented on #1816
Sorry for the delay on this. This is something we need to add in https://github.com/open-wc/storybook-prebuilt

We haven't been focusing on storybook lately, we need to update to v6 soon then we will pick this up.

[2020-09-10 21:29] jarrodek opened #1835 "[es-dev-server]: API fallback middleware does not handle url encoded parameters"
I have a parameter in the path part of the URL that is an URL encoded URI. The encoded value has a dot in it (in `.dom`) that is interpreted as an extension. This causes the dev server to request for the next middleware while this should be handled by the fallback API.

Example full URL:
[code]

[2020-09-10 21:34] LarsDenBakker commented on #1835
I'm not sure what we can do here. The idea of history API fallback, or SPA routing, is to return the index.html file on route requests and technically speaking this is a file request. Checking for the file extension is an important part of the consistency, there aren't many other checks we can do.

[2020-09-10 21:41] jarrodek commented on #1835
I've made this configuration that helps me with that. Maybe you can use it in the dev sever:

[code]

[2020-09-10 21:51] LarsDenBakker commented on #1835
This will cause HTML to be served when a file doesn't exist, hiding the actual 404.

[2020-09-10 21:57] jarrodek commented on #1835
Isn't that the goal of having fallback for the history API?

[2020-09-10 21:59] LarsDenBakker commented on #1835
I think you want this behavior for route requests like `/demo/foo` and `/demo/bar` but not for others. But maybe that's just my assumption. We could check how other tools are handling this and align the logic.

[2020-09-10 22:05] jarrodek commented on #1835
When using browser's history API (for example `window.history.pushState({}, null, '/project/something')`) the path is being rewritten (I have logic inside the app that handles the `/demo/` case). This means that any URL that is not requesting an actual file has to go to the main file for the routing to ever work. Here I don't rely on server handling 404 as I have a 404 page inside the application

[2020-09-11 12:48] peschee opened #1837 "withWebComponentsKnobs does not show "Knobs" Tab on page load"
Currently, there seems to be an issue with the `withWebComponentsKnobs` decorator. On page load, the "Knobs" tab is not shown. Only after changing between stories in the navigation, the knobs tab is shown.

This issue can be replicated / seen in the official example. When navigating to

https://open-wc.org/demoing-storybook/?path=/docs/decorators-withwebcomponentknobs--example-output

the knobs ta

[2020-09-12 09:19] #1730 closed

[2020-09-13 17:11] thepassle opened #1841 "Implement ESLint rules for eslint-plugin-lit-a11y"
Contributing new eslint rules to eslint-plugin-lit-a11y is fairly straightforward, isolated, and very testable. Its a great opportunity to pick up a small contribution.

If you're interested in implementing one or more rules, please check out the instructions in the pull request to get you started:

https://github.com/open-wc/open-wc/pull/1781

Need more help, guidance, or need to understand more

[2020-09-13 17:13] thepassle opened #1842 "Update the project generator to web test runner"
We should start using `@web/test-runner` for the [project generator](https://github.com/open-wc/open-wc/tree/master/packages/create)

More info on @web/test-runner here: https://modern-web.dev/docs/test-runner/overview/

Need more guidance, help, or instructions to get you started? Reach out to us on the Polymer slack 🙂

[2020-09-13 17:14] thepassle opened #1843 "Update the project generator to web dev server"
We should start using `@web/dev-server` for the [project generator](https://github.com/open-wc/open-wc/tree/master/packages/create)

https://modern-web.dev/docs/dev-server/overview/

Need more guidance, help, or instructions to get you started? Reach out to us on the Polymer slack 🙂

[2020-09-14 17:57] keillaf opened #1844 "[testing-karma] Update karma-mocha"
### Description

I found a low vulnerability because of the dependency [karma-mocha](https://www.npmjs.com/package/karma-mocha). Is it possible to upgrade the version for one without  this vulnerability?

https://www.npmjs.com/advisories/1179

![Screen Shot 2020-09-14 at 14 48 48](https://user-images.githubusercontent.com/67276156/93120332-9648bd00-f699-11ea-9c6a-a68918f3582e.png)

[2020-09-15 08:58] LarsDenBakker opened #1845 "[semantic-dom-diff] throw when global variable are not available"
The semantic dom diff plugin uses some global variables like `__mocha_context__` and `__snapshot__` which are only available in a karma mocha context. We should check for these variables, and throw a helpful error to the user that explains this plugin can only be used in Karma.

[2020-09-16 09:49] thepassle opened #1846 "[hacktoberfest] Custom Elements Locator extension"
There are some good first issues on the [Custom Elements Locator](https://github.com/open-wc/locator) chrome extension that can be picked up by any contributors that are interested.

If you need more guidance to help you get started, feel free to reach out on the #open-wc channel in the Polymer slack 🙂

[2020-09-16 09:51] thepassle opened #1847 "[hacktoberfest] Custom Elements in the Wild site"
There are some good first issues on the [custom elements in the wild](https://github.com/open-wc/wild) page that lists custom elements for a domain that can be picked up by any contributors that are interested.

If you need more guidance to help you get started, feel free to reach out on the #open-wc channel in the Polymer slack 🙂

[2020-09-19 09:53] LarsDenBakker commented on #1823
Thanks for reporting. We're doing a big update to the docs soon, this will be picked up in that pass.

[2020-09-21 10:50] peschee commented on #1837
The same (or similar) issue is also with the `<sb-props>` web component that shows the API derived from `custom-elements.json`. This is also only available after navigating around and not upon page load:

![Screen-Recording-2020-09-21-at-12 47 36](https://user-images.githubusercontent.com/63866/93758574-ff37b400-fc08-11ea-870d-48fcd85c408b.gif)

[2020-09-22 17:03] ianldgs opened #1849 "[polyfills-loader] Polyfills for common DOM methods"
Currently, there's no polyfill solution out there for the following methods:

- Node.prototype.addEventListener | 1321
- Node.prototype.append | 433
- Node.prototype.prepend | 452
- Node.prototype.before | 440
- Node.prototype.after | 461
- Node.prototype.remove | 290
- Node.prototype.replaceWith | 731
- Node.prototype.children | 245
- Node.prototype.firstElementChild | 262
- NodeList.prototype.fo

[2020-09-22 23:27] justinfagnani commented on #1849
FYI, lit-html and LitElement are going to start using `Node#append`, `Node#remove`, `Element.classList`, `Array#flat` and others.

[2020-09-23 16:50] jorenbroekema commented on #1811
Was EDS released lately with latest es-module-lexer? Otherwise I can create PR

[2020-09-23 16:53] LarsDenBakker commented on #1811
Yeah we're on the latest - and we will defer to web dev server soon :)

[2020-09-24 09:41] barroudjo opened #1852 "[testing-helpers] index-no-side-effects.js is not a sufficient way of disabling fixtureCleanup side-effect"
I don't know the inner workings of karma, but what is clear from my testing is that even when I set the karma config file to only run one test file which itself uses `@open-wc/testing/index-no-side-effects.js` instead of the usual `@open-wc/testing`, the fixture cleanup afterEach hook is still setup.
This is obviously due to the fact that the file `fixture.js` is still being run, but I have no ide

[2020-09-24 11:03] barroudjo commented on #1852
EDIT: The problem was actually on my side (another dependency was using  the usual `@open-wc/testing`).
However, there is still an issue with how disabling fixtureCleanup side-effect is currently done: if there are several test files and we want some of them to use the automatic fixtureCleanup side-effect, and in some others not, that is impossible.

[2020-09-24 14:25] BnitoBzh opened #1853 "Has anyone tried to make a web-component with third party request using fetch and tried to test it ?"
I tried to mock fetch, but after many attempts with fetch-mock, fetch-mock-fixtures and others i am not able to do any test...
does anyone have a reliable example of how to do this?

My projet is a fresh web-component built with `npm init @open-wc`.

My use case is simple. A web component that makes an HTTP request using fetch to a specific URL with a value passed to it and shows the result.

[2020-09-24 15:49] ARuzek commented on #1844
I did some investigation. `karma-mocha` major update to version **2.x.x** does update the minimist dependency to  `"minimist": "^1.2.3"` but the `@open-wc/testing-karma` and  `@open-wc/testing-karma-bs` dependency for `karma-mocha` is still at `"karma-mocha": "^1.0.0",` so it's not going to auto-update to version 2 because major updates could be breaking.

I would ask that a more experienced contr

[2020-09-24 16:13] bennypowers commented on #1853
you can stub fetch with sinon

https://gist.github.com/coder36/a5c6f37623a066e50bbe52dd258b77f0

[2020-09-24 16:13] #1853 closed

[2020-09-25 09:48] BnitoBzh commented on #1853
Like always, i get an error ..
Here is the error with your code snippet : `The requested module '../../node_modules/sinon-stub-promise/index.js' does not provide an export named 'default'`

[2020-09-25 09:52] bennypowers commented on #1853
that gist is 4 years old. the principle is solid but the specifics are a little out of date.

you don't need sinon-stub-promise.

[code]

[2020-09-27 07:29] #1746 closed

[2020-09-28 00:36] #1827 closed

[2020-09-28 04:18] #1780 closed

[2020-09-28 04:18] #1768 closed

[2020-09-28 04:18] #1787 closed

[2020-09-28 04:18] #1796 closed

[2020-09-29 08:59] vaibhavkulkarni opened #1854 "Unable to include SASS using rollup plugin"
Hello,

I am trying to import scss file into a standard generated project. When I run `npm run start` and observe the console on the browser, I see the following error message.

Below is my js code where I import:
`import "./test.scss";
`

Below is my rollup.config.js:
`
import merge from "deepmerge";
// use createSpaConfig for bundling a Single Page App
import { createSpaConfig } from "@open-wc/b

[2020-09-30 04:03] #1798 closed

[2020-09-30 07:18] fernandopasik commented on #1826
Would it be ok if I try a PR updating to typescript 4? Still sounds from what was said that this issue would be resolved in 4.1

[2020-10-01 08:12] jorenbroekema commented on #1826
Yeah I think we would like to upgrade if possible, let's see if we can overcome the breaking changes :)

[2020-10-01 08:13] trystan2k commented on #1843
Hi @thepassle,

I can work on this, if it is ok for you

[2020-10-01 08:13] bennypowers commented on #1826
@fernandopasik  hit us up in polymer slack's #typescript channel if you need any help

[2020-10-01 08:20] thepassle commented on #1843
Absolutely 🙂

[2020-10-01 08:24] fernandopasik commented on #1826
Hi! I've created a branch with the update, so far I found one type error, looks minor.

https://github.com/open-wc/open-wc/pull/1855

[2020-10-01 14:44] fernandopasik commented on #1826
The upgrade to typescript 4 was merged. Would it be possible to release @open-wc/testing-helpers?

[2020-10-01 18:08] buzzub commented on #1826
This will great as we have been stuck on 1.8.8 since this issue came up.

[2020-10-01 19:31] trystan2k commented on #1843
Hi,

I have started to work on this and have some doubts. I have created a [Draft PR](https://github.com/open-wc/open-wc/pull/1858) with the changes I have so far

I have updated all entries for `es-dev-server` for `@web/dev-server` for the generators but in the main.js for the storybook (for example [here](https://github.com/open-wc/open-wc/blob/master/packages/create/src/generators/app-lit-eleme

[2020-10-01 21:30] LarsDenBakker commented on #1843
@trystan2k thanks for looking into this. For now, we can skip the changes to demoing-storybook. There are some other pending breaking changes there, we can do it all in one go.

[2020-10-02 22:57] #1826 closed

[2020-10-03 14:39] #1843 closed

[2020-10-03 16:43] trystan2k commented on #1842
Hi,

I am looking into this and have a question: The idea is to remove Karma and replace it with WTR or have both options and the developer can select one or the other ?

If we want to have both, I think it would be better to split the `What would you like to add` in 2 (one for Linting and Demoing and the other for Test where only one - Karma or WTR can be selected) otherwise it would be possible

[2020-10-03 17:08] LarsDenBakker commented on #1842
The goal is to have just WTR in there. We won't recommend karma for new projects, but we will keep supporting it for existing projects.

[2020-10-04 08:22] #1056 closed

[2020-10-04 08:32] LarsDenBakker commented on #1849
This is definitely something we should look into. The complicated part we need to figure out how to group polyfills together, and to decide when to load them.

Loading many small individual polyfills is slow, but so is loading many unused polyfills. We need to find some middle ground. One policy we've been maintaining is to not load any polyfills for the latest few of modern browsers. This way we

[2020-10-04 09:34] #1842 closed

[2020-10-04 10:05] trystan2k commented on #1804
Hi,

I looked into this and have a suggestion:

At `findProductionDependencies.js` I added this code in the last step of `findProductionDependencies` function:

[code]

[2020-10-04 10:26] trystan2k commented on #1797
Hi,

Looking into this, I think we could solve this adding the lines in the `package.json` to execute `tsc` in prepublish and change `main` and `module` to point to `dist/index.js` instead of `index.js`. So it would like something like this:

[code]

Then this would be the published package:
[code]

In this example I have also added in `tsconfig.json` the entry `"declaration": true` so it also gen

[2020-10-04 10:42] LarsDenBakker commented on #1797
@trystan2k those changes seem right to me 👍

[2020-10-04 13:52] trystan2k commented on #1845
Hey,

If I understood correctly, this plugin cannot be used at all if those variables are not available, right ? So we could put as the first thing in the `chaiDomDiff` function to verify and throw an Error with an explanation message ?

Something like:

[code]

What do you think ? Also, any recommendation about the error message (is it ok to be an `throw new Error` or you suggest other alternativ

[2020-10-05 06:48] daKmoR commented on #787
@rictic any update on HMR for Lit Element? 🤔

@justinfagnani potentially supported by default in lit-element 3? 🙏

[2020-10-05 18:15] FredKSchott commented on #787
Yes! Still interested for Snowpack as well :)

[2020-10-05 18:45] LarsDenBakker commented on #787
Since es-dev-server is replaced by web-dev-server, we're tracking this in https://github.com/modernweb-dev/web/issues/501 with an implementation started at https://github.com/modernweb-dev/web/pull/685

[2020-10-05 18:45] #787 closed

[2020-10-05 18:46] LarsDenBakker commented on #1854
If you're using the generated project, npm start doesn't run rollup. You will need to run rollup first and serve the build result.

[2020-10-05 19:49] #1797 closed

[2020-10-06 06:29] vaibhavkulkarni commented on #1854
I agree. I asked in the slack channel and didn't close this issue. Apologies for that.

I installed web-dev-server and the following config worked like charm:
`const postcss = require("rollup-plugin-postcss");
const rollupAdapter = require("@web/dev-server-rollup").rollupAdapter;

module.exports = {
  open: true,
  nodeResolve: true,
  watch: true,
  appIndex: "index.html",
  mimeTypes: {
    "**/

[2020-10-06 06:29] #1854 closed

[2020-10-07 16:18] justinfagnani commented on #1849
On our end, we are indeed not using APIs that aren't available on current browsers, so we'll pretty much only need these polyfills on IE11. We're moving towards a compatibility stance where it's acceptable to require larger polyfills on IE11 in order to increase perf or reduce file size on modern browsers, as we move IE to legacy support and prepare to drop it when feasible. So far most of the DOM

[2020-10-07 16:34] LarsDenBakker commented on #1849
I think that's doable, but what about browsers that support modules but not something like array flat?

[2020-10-07 16:52] dmondev opened #1864 "Scaffold files for demo and testing are not generate when running in non interactive mode"
**Steps to reproduce**

Run npm init with the following params

`npm init @open-wc --type scaffold --scaffoldType wc --features linting testing demoing --typescript true --scaffoldFilesFor testing demoing --tagName ui-elements --writeToDisk true --installDependencies npm `

Verify that test and story files are not created in the generated project.

[2020-10-07 18:22] justinfagnani commented on #1849
Array#flat would be part of JS polyfills. I presume there's a number of ways for apps to load that, including core-js.

[2020-10-07 21:00] fictorial opened #1865 "Typo"
On https://open-wc.org/codelabs/basics/lit-html.html?index=/codelabs/#12

should rather be:

[2020-10-07 21:03] #1865 closed

[2020-10-07 21:03] fictorial commented on #1865
https://github.com/open-wc/open-wc/pull/1866

[2020-10-08 08:51] trystan2k commented on #1864
Hi,

This seems to be because of how `prompts` handle the overrides of the answers. In this case, it does not execute the `onState` method and because of that `scaffoldOptions` is empty https://github.com/open-wc/open-wc/blob/master/packages/create/src/generators/app/index.js#L81-L88 (so there is no matching options with `scaffoldFilesFor `)

One possible solution would that in the `execute` metho

[2020-10-08 19:20] LarsDenBakker commented on #1849
Yes but we still need a strategy for deciding when to load what. For things like `fetch` it's simple because you can check a single API. But DOM APIs and JS polyfills are lots of different APIs, we probably need to make some groupings and decide on watermarks.

For example right now we make a high level split between browser that support modules (module script, import.meta and dynamic import) and

[2020-10-08 21:33] bracketsberlin opened #1867 "MIME Issue"
Hi there,
I'm using lit-element to create web components. Instead of adding pure CSS via the `styles()` method, I make use of the [lit-scss-loader](https://www.npmjs.com/package/lit-scss-loader) to import some SCSS to my components. It works fine and I had no issues so far. But when it comes to building a **storybook** from these components I'm running into the following error:

`Failed to load mo

[2020-10-08 21:38] LarsDenBakker commented on #1867
It's not possible to import non JS modules in the browser, so you need to make sure you run webpack before serving it to the browser somehow. Our project generator doesn't include any webpack, so I don't know what to advice here. Should this be a question for webpack or storybook? Are you running webpack before storybook?

[2020-10-08 21:43] bracketsberlin commented on #1867
Hi @LarsDenBakker for the immediate answer!
I thought storybook runs webpack before? At least I adjusted my .storybook/main.js towards the following (taken from [here ("Using your existing config")](https://storybook.js.org/docs/react/configure/webpack)):
[code]

I think the question is more of a storybook question.

[2020-10-08 21:46] LarsDenBakker commented on #1867
`storybook-prebuilt` (and `@open-wc/storybook`) which come with the open-wc generator are specifically created to avoid webpack with storybook, for speed and sanity :)

We can probably make this a bit more obvious in the docs.. but you should be able to switch to the official storybook and add the webpack config like that.

[2020-10-08 21:52] bracketsberlin commented on #1867
Oh jeez, a thousand thanks!

[2020-10-08 21:52] #1867 closed

[2020-10-11 09:08] Christian24 opened #1870 "Extending Event is it possible?"
Hi,

I just came across this site of the docs: https://open-wc.org/faq/events.html#even-more-data

It says you can inherit from Event to create your own Event class. I tried this, I always get an error: `Constructor requires 'new' operator.`. This happens in both Safari as well as in Edge Chromium. I haven't tried in Firefox. I have not really seen this anywhere else, so my question is: Is this ev

[2020-10-11 19:23] bennypowers opened #1872 "[eslint-plugin-lit-a11y] alt-text: allow <img role="presentation">"
The `alt-text` rule should allow images with `role="presentation"`.
The rule should also check elements with `role="img"` for alt atttibutes

_Originally posted by @thepassle in https://github.com/open-wc/open-wc/pull/1871#discussion_r502952817_

[2020-10-11 19:28] thepassle commented on #1872
Guidance for any interested contributors can be found here: https://github.com/open-wc/open-wc/pull/1781

[2020-10-11 22:55] mercmobily opened #1873 "Building into one single js file with createSpaConfig"
When I build my SPA, using a fairy common configuration:

    export default merge(spaConfig, { input: './index.html', plugins: [copy(copyConfig)] })

I end up with a lot of files in my output directory:

[code]

Our app is used in precarious environments, where one big download tends to be more successful than several small ones.
index.html simply has one import line:

     <script type="module"

[2020-10-12 05:24] bennypowers commented on #1845
That looks good, @trystan2k

[2020-10-12 06:31] trystan2k commented on #1845
Thanks @bennypowers.

Should we then remove the registration of the plugin from `@open-wc/testing` since Open-wc is not using @dev/test-runner
 (otherwise the tests will start to fail) ?

And also, the scafolding is adding an a11y testing, which seems to depend on semantic-dom-diff
[code]

Should it be removed or there is an alternative for a11y tests with WTR ?

[2020-10-12 07:15] daKmoR commented on #1870
you mean

[code]

does not work? 🤔

can you maybe share a complete code snippet? 🤗

[2020-10-12 19:12] Christian24 commented on #1870
Sure, I do:
[code]
You can also find a Stackblitz here: https://stackblitz.com/edit/extends-event?file=my-event.ts

[2020-10-13 22:56] dejan9393 opened #1876 "Service worker + Server Side Rendering"
Hi, is it currently possible to set up a service worker that works with SSR?

I have an application that was built using `npm init @open-wc`. It's bundling with Rollup and internally it's using Workbox's `generateSW` method to generate a service worker.

This works very well until we put server-side rendering into the mix. Since we provide a `navigateFallback` property to the `generateSW` method,

[2020-10-13 23:15] mercmobily commented on #1873
BTW My use case is exactly the one explained in the [official documentation](https://open-wc.org/building/building-rollup.html):

**SPA Projects**
If you have a SPA (Single Page App) project you can use createSpaConfig to generate your config. This will inject the rollup output into a single index.html file, generate a service worker and load polyfills using feature detection.

**# HTML as input**

[2020-10-14 06:47] thepassle commented on #1876
I have personally not implemented SSR in combination with service workers, but having said that, the `index.html` should indeed be in the precache manifest of your `sw.js` created by `generateSW`. If you'd like more fine grain control on your caching strategies, you could try to use the `injectManifest` mode.

Also, as far as I'm aware there still are some issues with server side rendering and web

[2020-10-14 06:52] LarsDenBakker commented on #1873
Bundlers do code splitting based on dynamic imports. If you use a dynamic import, the intention is to lazy load it at a later point and thus it has to become a separate file.

You can turn off this behavior in rollup: https://rollupjs.org/guide/en/#outputinlinedynamicimports but it would be pretty bad for performance :)

[2020-10-14 06:55] dejan9393 commented on #1876
Thanks for the response

To answer your question, no. I looked into a few options with SkateJS being the most promising of the lot, but decided that it's not worth implementing full-blown SSR for WebComponents just yet. My implementation is very simple and focuses on meta tags and page title + a little additional config from a backend server that gets injected as a JSON blob into a prop on the mai

[2020-10-14 07:17] mercmobily commented on #1873
Thank you for answering Lars!

Is one single dynamic import enough to trigger the behaviour?
(I didn't think I had any, but I might be wrong?)

Thank you again..

On Wed, Oct 14, 2020, 2:53 PM Lars den Bakker <notifications@github.com>
wrote:

[2020-10-14 10:34] mercmobily commented on #1873
OK, it was my fault. (It tends to often be that way...). I changed the app to static imports, with the "slight" oversight of keeping the `import('...')` syntax rather than the `import '...'` syntax. Ugh. I apologise for the noise here. On a brighter note, I now totally understand why I was getting what I was getting!

My output is now:

* `index.html`
* `4e0bbf5b.js` (a big 700Kg file containing a

[2020-10-14 10:43] thepassle commented on #1873
Out of curiosity, why are you on a mission to minimise the number of files? As Lars mentioned, its highly likely you're hurting performance by doing this.

As for workbox, you can set `inlineWorkboxRuntime` to `true` in workbox's `generateSW` configuration

[2020-10-14 10:48] thepassle commented on #1876
Why not just update the index html on service worker change then? Implementing a custom stale while revalidation function sounds like more trouble and effort than just precaching the index.html and updating it whenever there has been a change

[2020-10-14 11:29] mercmobily commented on #1873
Oh this is a very sad story...
We have a SPA being served on a _very_ unreliable connection. Some files will just randomly fail to load. The connection goes up and down, within the space of 4-5 minutes.
I had a SPA with dynamic imports which only got loaded when they were actually used. But, when I noticed that sometimes those imports failed, I very meticulously wrote carefully crafted code which

[2020-10-14 11:39] thepassle commented on #1873
Yep... I've run into this myself 😓

Maybe a potential solution could be to use this: https://github.com/rollup/plugins/tree/master/packages/dynamic-import-vars

And then in your dynamic imports do something like
[code]
when retrying to fetch that module?

As for inlining workbox, this should do the trick:

[code]

[2020-10-14 22:19] mercmobily commented on #1873
First of all:

[code]

Damn, of course. Damn, I see createSpaConfig's code now and think: how did I not work that out on my own? Thanks for the  solution.

You would happen to know if there is any way to have the full code inside index.html rather than in a large external file? (Sorry, just trying my luck :D )

About this one:

Oh WOW. What I had done, before ditching reliable dynamic imports into

[2020-10-14 22:28] dejan9393 commented on #1876
I might not have explained correctly. The contents of the index.html can change without changes to the service worker.

Maybe a short example can illuminate:

* User accesses Site A
* The SSR script recognises a request for the index.html file
* The SSR script asks an API for config for Site A
* API returns title and other config values
* SSR script retrieves file contents of index.html and replac

[2020-10-15 06:40] thepassle commented on #1873
I didnt see anything in the rollup docs to do this, but a quick google led me to this plugin: https://github.com/alwaysonlinetxm/rollup-plugin-fill-html

Not sure how well that works though

[2020-10-15 12:04] mercmobily commented on #1873
Wait, is what I am after not something that is normally done, so to speak?
Do people avoid doing it?

On Thu, Oct 15, 2020, 2:40 PM Pascal Schilp <notifications@github.com>
wrote:

[2020-10-15 12:10] thepassle commented on #1873
I've personally never seen anybody take this approach, no :p

[2020-10-15 12:13] mercmobily commented on #1873
If nobody does it, it must be a bad idea.
I will never, ever  thank you enough for this help.

On Thu, 15 Oct 2020 at 20:10, Pascal Schilp <notifications@github.com>
wrote:

[2020-10-15 12:25] mercmobily commented on #1873
This issue is polluting your awesome project. I am closing it now, but will update later to let you know -- if you are interested -- how I went with dynamic loading. Yes, I have re-enabled it after all... And am checking whether I can make it all work with the service worker etc.

[2020-10-15 12:39] thepassle commented on #1873
Please do keep me posted, id be very interested to hear your progress especially with the dynamic loading/service worker. I worked on something similar a while ago, but got blocked because of the modules not being able to reloaded issue. At that time, the rollup plugin didnt exist though, so I'd be very interested to revisit.

The problem I was working on was basically a PWA app shell pattern that

[2020-10-15 12:39] #1873 closed

[2020-10-15 16:04] thepassle opened #1878 "[eslint-plugin-lit-a11y] add click-events-have-key-events whitelist"
The following code is valid:
`<button @click=${foo}>click</button>`

But the following is not:
`<ing-button @click=${foo}>click</ing-button>`

We should add a allowList to allow button-like custom-elements via options. We can just add the check here:

https://github.com/open-wc/open-wc/blob/34ef9e392b8c3a21dc75c809d8bcdafab7aa885b/packages/eslint-plugin-lit-a11y/lib/rules/click-events-have-key-eve

[2020-10-15 16:21] thepassle opened #1879 "[eslint-plugin-lit-a11y] heading-has-content support function calls"
The following code is valid code, but currently fails the linting rule:

[code]

This, however, does pass:
[code]

Gotta figure out why the former fails, and fix it

You can add a failing test here:

https://github.com/open-wc/open-wc/blob/34ef9e392b8c3a21dc75c809d8bcdafab7aa885b/packages/eslint-plugin-lit-a11y/tests/lib/rules/heading-has-content.js#L24

By adding the following line:

[code]

Then

[2020-10-15 16:31] thepassle opened #1880 "[eslint-plugin-lit-a11y] aria-attr-valid-value support function calls"
Seems to be a similar problem as https://github.com/open-wc/open-wc/issues/1879, see that issue for more info

Failing test:
[code]

[2020-10-15 16:53] trystan2k commented on #1878
Hey !

I have opened a PR that I believe solve this.

[2020-10-15 17:02] #1878 closed

[2020-10-15 18:47] trystan2k commented on #1880
Possible can be fixed by #1883

[2020-10-15 19:27] thepassle commented on #1872
fixed in #1884

[2020-10-15 19:27] #1872 closed

[2020-10-15 20:23] #1879 closed

[2020-10-15 20:25] thepassle commented on #1880
fixed by https://github.com/open-wc/open-wc/pull/1883

[2020-10-15 20:25] #1880 closed

[2020-10-15 20:28] thepassle commented on #1846
Closing for now, all issues have been fixed. May reopen for visibility if we get any new hacktoberfest issues

[2020-10-15 20:28] #1846 closed

[2020-10-15 20:28] thepassle commented on #1847
Closing for now, all issues have been fixed. May reopen for visibility if we get any new hacktoberfest issues

[2020-10-15 20:28] #1847 closed

[2020-10-15 22:41] mercmobily opened #1885 "Build <script src=...> content into index.html"
I have a SPA which uses external libraries such as EJS, Moment, web-animations-js and Codemirror.
I have this in my `rollup-config.js`:

[code]
Then in my index.html I have:

[code]

I need to copy those resources over so that they actually work.
Some of them (like moment) are actually available as ES6. But things like codemirror or web-animations-js aren't.

Is there an easy, neat way to replace

[2020-10-16 06:15] daKmoR commented on #1885
I don't think there is an automated way for that right now 🙈
e.g. right now only `type="module"` packages are considered for the js module graph.

all other types of resources like `<script src="...">` or `<img src="...">` or css, picture source, ... are currently not (yet) detected or processed.

For a long time we wanted to implement this but no one found the time yet to actually do it 😅
it will

[2020-10-16 08:33] thepassle opened #1886 "[eslint-plugin-lit-a11y] scope should be allowed on custom elements"
Currently failing test, this should pass:

[code]

We can just add a check to see if the `element.name.includes('-')` . If it does include a dash, it means it's a custom-element, and we should allow it to have a `scope` attribute.

https://github.com/open-wc/open-wc/blob/d96c307c2f4c236425b702b2db6be1b6a152549b/packages/eslint-plugin-lit-a11y/lib/rules/scope.js#L34

[2020-10-16 08:50] thepassle opened #1887 "[eslint-plugin-lit-a11y] click-events-have-key-events add `options` documentation"
We forgot to add dcumentation on how to add custom-elements to the `allowList` for `click-events-have-key-events` rule

[code]

Example here: https://github.com/open-wc/open-wc/blob/master/packages/eslint-plugin-lit-a11y/docs/rules/img-redundant-alt.md#rule-details

[2020-10-16 09:03] #1887 closed

[2020-10-16 10:53] peschee commented on #1837
@LarsDenBakker @daKmoR @thepassle Any pointers on where to look so I can come up with a PR?

[2020-10-16 13:16] thepassle opened #1889 "[eslint-plugin-lit-a11y] aria-attr-valid-value fails on this.foo"
This passes:
[code]

This fails, but should pass:
[code]

I think something is not going right with the placeholder somehow, because the expression `${this.max}` should be substituted with a placeholder starting with `{{`, and be caught here:

https://github.com/open-wc/open-wc/blob/7ac9b273f6b97ac2cdf8f12972c08a38ec767808/packages/eslint-plugin-lit-a11y/lib/rules/aria-attr-valid-value.js#L125

I

[2020-10-16 13:58] thepassle opened #1891 "[eslint-plugin-lit-a11y] Sometimes reports incorrect quasi depending on length of expression"
Explanation and example on what a `quasi` is: https://astexplorer.net/#/gist/3d31a73b6da7715113144683d5c9b945/76242f6d66b53824bac5e3a6478b731692b0e60f

It seems like sometimes the wrong quasi is selected/underlined in the IDE depending on the length of the expressions. The expected scenario is: the `span` and `slot` are underlined. See the following example:

<img width="665" alt="Screenshot 2020-

[2020-10-16 20:55] #1886 closed

[2020-10-16 22:29] mercmobily commented on #1873
@thepassle Update:

This won't work:

[code]
I mean it _works_ unless you build. Once you build, using the module you recommended (dynamic-import-vars -- thank you!) it actually creates two import functions: the one without Date.now() is correct (it makes up a switch/case statement etc.), whereas the other one has no options in the switch/case.

What I am doing now, is simpler: if there is a loadi

[2020-10-17 09:04] #1891 closed

[2020-10-17 09:47] #1889 closed

[2020-10-17 12:17] spockz opened #1898 "unknown value `@open-wc`"
Running `npm init @open-wc` for me yields:

[code]

Versions:
macOS: 10.13.6
shell: zsh
node: 14.14.0
npm: 6.13.4

[2020-10-17 12:31] LarsDenBakker commented on #1898
🤔 that's odd, for me the same gives:

[code]

[2020-10-17 12:52] spockz commented on #1898
Okay, so how to go about debugging this? Is it using older/different versions of some dependencies by any chance? This is on a completely fresh install with fresh node and npm installs.

[2020-10-17 14:56] LarsDenBakker commented on #1898
I'm using the same version of node, and NPM 6.14.8. You could try updating your version of NPM, but it would be strange if that is the cause.

The error is that the `@open-wc` argument is passed to the node process that is started from the `npm init` command which correctly complains that is cannot do anything with the `@open-wc` argument.

[2020-10-17 16:59] spockz commented on #1898
I just tried it from fedora and it worked flawlessly.

[2020-10-17 18:14] bennypowers opened #1901 "[eslint-plugin-lit-a11y]: optional chaining breaking rules"
[code]

Whereas these pass:
[code]

[2020-10-17 18:22] thepassle commented on #1901
Think this might be a missing case here:

https://github.com/open-wc/open-wc/blob/cf1c52709a58c1b560c69cef01f209b88a166f15/packages/eslint-plugin-lit-a11y/template-analyzer/util.js#L235

But frankly I'm strongly considering reverting the logic we have there, I'm not sure if its worth it

[2020-10-17 18:23] bennypowers opened #1902 "[eslint-plugin-lit-a11y]: weird results"
I got some weird results for this template:

[code]

NB:

- The error on the h2 is not for the `<h2 slot="heading">`, rather it's on the this line:
[code]
- The error for the href is not on the `<p-card>`'s link, it's on this line:
[code]
- WRT the click listeners, what about CEs that provide their own keyboard a11y? should be add an option to allowlist certain elements?
These might all be related

[2020-10-17 18:33] thepassle commented on #1902
Which version are you using? Some of these should be fixed, like the `<h2>` for example

[2020-10-17 19:12] thepassle commented on #1902
maybe custom-elements should just be excluded from the `click-events-have-key-events` entirely, what do you think?

[2020-10-17 19:54] thepassle opened #1903 "[eslint-plugin-lit-a11y] accessible-emoji is deprecated, remove it"
see title

also remove from the packages main README and the recommended settings in the index.js

bonus points for going through all the other rules and seeing if we added any other deprecated rules by chance

https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/accessible-emoji.md

[2020-10-17 20:08] thepassle opened #1904 "[eslint-plugin-lit-a11y] detect lit-html import"
We should add a check to each rule to see if `html` is indeed imported from lit-html or lit-element. Different rendering libraries may use a `html` tagged template literal as well, and may have a differing syntax than lit-html, we dont want to clash with that.

We can look at `ImportDeclaration`s in the visitor (similar to how we declare the `TaggedTemplateExpression` function), and then check if

[2020-10-17 20:47] thepassle commented on #1841
closing this for now, wanna focus on getting an initial version out before adding more rules. May reopen at a later point in time

[2020-10-17 20:48] #1841 closed

[2020-10-18 00:54] blikblum opened #1905 "[testing] Conflicts and code/package duplication when following testing guide"
I'm configuring tests for a  new project and found some inconsistencies in the guide:

- In https://open-wc.org/testing/, it recommends the dev.to step by step guide article that uses karma and a few lines below recommends web-test-runner step by step guide.
- In https://open-wc.org/testing/testing.html, expect is imported from @open-wc/testing and in web-test-runner guide from @esm-bundle/chai
-

[2020-10-18 01:15] momosetti commented on #1903
Hi @thepassle , i will go through it.

[2020-10-18 07:53] bennypowers commented on #1903
I'm already working on this in #1899

[2020-10-18 07:54] bennypowers commented on #1904
What about reexports? `@open-wc/testing` does that, so does `@apollo-elements/lit-apollo`

Better to trust the user, I think. They can use `overrides` of there using two versions of `html`

[2020-10-18 08:00] bennypowers commented on #1903
@momosetti would you consider implementing one of the missing rules instead?

[2020-10-18 08:20] thepassle commented on #1904
Reexports are also accounted for in the issue

[2020-10-18 09:27] #1811 closed

[2020-10-18 12:25] thepassle commented on #1901
this was fixed in https://github.com/open-wc/open-wc/pull/1907

[2020-10-18 12:25] #1901 closed

[2020-10-18 12:27] thepassle commented on #1902
Can we chop this up in separate, more isolated issues?

As far as I can see there are three issues at play:
- Reporter reports wrong location, this is WIP upstream in eslint-plugin-lit
- custom-elements should be excluded from `click-events-have-key-events`, I think this is fixed in https://github.com/open-wc/open-wc/pull/1906
- optional chaining causes rule to fail which is fixed by https://githu

[2020-10-18 13:48] #1904 closed

[2020-10-18 19:10] thepassle commented on #1902
All these should be fixed now, by #1910  #1906 and #1907

[2020-10-18 19:10] #1902 closed

[2020-10-18 19:11] thepassle commented on #1903
this was fixed, we deprecated instead of removed

[2020-10-18 19:11] #1903 closed

[2020-10-18 21:27] bennypowers commented on #1902
confirmed fixed.

[2020-10-19 06:21] bennypowers opened #1911 "[eslint-plugin-lit-a11y]: refactor to compose rules, test settings"
## Composing Rules

Currently, we copy logic into each rule to verify that the file imports lit-html's `html`, This is great for users but hard to maintain, as we have to remember to copy in the logic for each rule.

We can compose rules with https://github.com/not-an-aardvark/eslint-rule-composer

so, instead of adding a predicate in each rule's AST visitor, we can just compose them together:

[c

[2020-10-19 06:40] bennypowers commented on #1911
https://www.npmjs.com/package/eslint-rule-extender is a maintained alternative to eslint-rule-composer

[2020-10-19 07:33] thepassle opened #1912 "[eslint-plugin-lit-a11y] check for tabIndex property"
Currently in rules that check tabindex, we only check the tabindex attribute. We should go through the rules, see where we check for the tabindex attribute, and also check the `tabIndex` property.

[2020-10-19 07:40] thepassle commented on #1912
Bonus points: are there other places where we check for an attribute, but not a property?

[2020-10-19 07:45] koenvg commented on #1912
Would like to take this issue. Can you assign it to me?

[2020-10-19 08:02] thepassle commented on #1912
👍

[2020-10-19 08:28] thepassle commented on #1912
Thinking on this more, I'm not sure if it makes sense to do this. We dont check the values inside expressions in lit-html templates, and setting properties kind of implies using an expression. E.g.: `<div .tabIndex=${1}/>` <- this will not be checked, because the content of the expression will be replaced by a placeholder.

It still could be valuable to see if we can do something here though.

[2020-10-19 08:52] bennypowers commented on #1912
@thepassle do we have an issue for that?

[2020-10-19 09:03] thepassle commented on #1912
For checking the contents of an expression? We dont currently, but we need to find a good way to go about it as not to mess up the reporting locations.

I think we could do something similar to what we had before I reverted it. If the content of an expression is a `Literal` node, we can instead of using a placeholder, just substitute with the literal value, but if its anything other than a `Litera

[2020-10-19 09:37] thepassle opened #1913 "[eslint-plugin-lit-a11y] support checking Literal values inside expressions"
Related to the discussion [here](https://github.com/open-wc/open-wc/issues/1912#issuecomment-711837381)

It would be nice to be able to check `Literal` values (only `string`s, `number`s, `boolean`s) in expressions, so we can lint templates like:
[code]

Currently, all expressions in a template are replaced by a placeholder that looks something like `{{__Q:0__}}`, and as such are not linted.

Repla

[2020-10-19 09:37] thepassle commented on #1912
Created a separate issue for linting `Literal` values [here](https://github.com/open-wc/open-wc/issues/1913)

[2020-10-19 10:13] thepassle commented on #1913
I wonder if it would be possible to keep an internal map of placeholders and their values in the `TemplateAnalyzer` when replacing the expression 🤔 That way we dont have to change the placeholder value itself, also the placeholder should be unique to a node.

something like:
`util.js`:

[code]

`template-analyzer.js`:
[code]

[2020-10-19 10:46] thepassle commented on #1913
Yep, that seems to work:

Test case:
[code]

Code:
[code]

Output:
[code]

[2020-10-19 11:01] bennypowers commented on #1913
if it's just get/set we could make it a WeakMap

[2020-10-19 11:13] bennypowers commented on #1911
from @kaicataldo, maintainer on eslint-rule-extender, when asked if we can stop a rule from reporting errors in one visitor from another (shared) visitor:

ostensibly we'd use `reportOverrides` for that

[2020-10-19 16:25] kaicataldo commented on #1911
If you're creating an additional `ImportDeclaration` visitor, I _believe_ you should be able to either:

1. Check the error message or analyze the node that's in the report metadata passed to `reportOverrides`
2. Add some data in the metadata (i.e. `{ isLitHtml: true }`) that is checked in `reportOverrides`. This data is generally intended for interpolation into the error message itself, but I don

[2020-10-19 16:51] #1823 closed

[2020-10-19 19:12] thepassle opened #1916 "[eslint-plugin-lit-a11y] improve valid lithtml sources check"
Currently we do a check to see if the `node.source.value` is included in the `validLitHtmlSources` array.

https://github.com/open-wc/open-wc/blob/73c500197e1403ac7c4ec78412f922e52a58c696/packages/eslint-plugin-lit-a11y/lib/utils/utils.js#L24

What currently works:
[code]

[code]

But if you only specify `ing-web` in `litHtmlSources`, it wont work. This can be pretty confusing. We should simplify

[2020-10-19 21:22] mercmobily commented on #1885
Gosh, given that this is basically for legacy libraries (hopefully, soon enough everything will come as an ES module!) and given that there is an _easy_ workaround... I am not sure it makes sense to spend time on this!

[2020-10-19 21:22] #1885 closed

[2020-10-20 05:37] bennypowers commented on #1911
I'm going to take a crack at this today

[2020-10-20 06:51] bennypowers commented on #1911
this seems to work, without requiring any changes to rule code except for applying `ruleExtender`.

preparing a PR

[code]

[2020-10-20 07:29] #1913 closed

[2020-10-20 09:03] bennypowers commented on #1911
ok my solution relies on the `ImportDeclaration` visitor in `createAdditionalVisitors` running before the subclass rule, I hope that's a good assumption

[2020-10-20 12:51] koenvg commented on #1912
Whilst looking into this more and looking at the other PR, I am not sure I understand the problem correctly.
I thought this was a problem about setting the tabIndex property via javascript like so
[code]

[2020-10-20 13:02] bennypowers commented on #1912
@koenvg `HTMLElement#tabIndex` property reflects to `tabindex` attribute, e.g.

[code]

so these two templates are functionally equivalent:

[code]

PR #1915 (merged) fixes the problem of analyzing literal values.

[2020-10-20 13:09] thepassle commented on #1912
To summarize:
[code]

Should fail

[2020-10-20 14:33] koenvg commented on #1912
@thepassle Thank you for explaining. I see what the goal is now 😄

[2020-10-20 21:04] BnitoBzh opened #1920 "How to deploy/publish a modern and legacy javascript file for a web component ?"
I have create a new project with the `npm init @open-wc` command.
All options activated (a web component project, with typescript, and demoing, etc ...)
Now i want to build/publish my project, not a HTML file ... But simply a module and legacy version of my web component that can be deployed on s3 to allow my customers to use this webcomponent on their websites.

Is there someone have a the perfec

[2020-10-20 21:15] LarsDenBakker commented on #1920
Currently we recommend doing building only at the final distribution level. This is because there are quite a lot of things to keep in mind when bundling, such as browser target, polyfills and shared dependencies, which are hard to decide from a component point of view.

That being said, you could use the `createBasicConfig` option from our rollup package: https://github.com/open-wc/open-wc/tree/m

[2020-10-21 08:50] BnitoBzh commented on #1920
Ok i understand but the `createBasicConfig` only speaks about multiple html file generation. I do not need HTML file, only JS files with a modern and legacy build. The legacy build must be IE11 compatible with the fetch polyfill.
The default behavior of @open-wc is to build SPA app or reusable web component for app development.
I want to distribute a web component, that can be directly integrated

[2020-10-21 09:02] LarsDenBakker commented on #1920
The basic config does JS bundling. It gives an example of using the HTML plugin if you need it, but it's not required. You could also set up your own rollup config, it's not a very complicated tool.

Our configs don't bundle any polyfills because this can be problematic when multiple scripts on the page include conflicting polyfills.

[2020-10-21 12:37] #1911 closed

[2020-10-21 12:37] #1916 closed

[2020-10-21 13:22] #1912 closed

[2020-10-21 15:13] bennypowers opened #1923 "[eslint-plugin-lit-a11y]: implement control-has-associated-label"
See: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/control-has-associated-label.md

From the docs:

## Succeed

[code]

## Fail
[code]

## Proposed Options

[code]

- `labelAttributes` is a list of attributes to check on the control element and its children for a label. Use this if you have a custom element that uses an attribute to render and internal `<label>`, for

[2020-10-21 15:20] bennypowers opened #1924 "[eslint-plugin-lit-a11y]: implement interactive-supports-focus"
See: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/interactive-supports-focus.md

### Succeed
[code]

### Fail
[code]

[2020-10-21 15:22] bennypowers opened #1925 "[eslint-plugin-lit-a11y]: implement lang"
see: https://raw.githubusercontent.com/jsx-eslint/eslint-plugin-jsx-a11y/master/docs/rules/lang.md
although this rule may not be relevant to most lit-html use cases, it could be of use with lit-html as a server-side rendering library

# lang

The `lang` prop on the `<html>` element must be a valid IETF's BCP 47 language tag.

## Rule details

This rule takes no arguments.

### Succeed

[code]

###

[2020-10-21 15:40] bennypowers opened #1926 "[eslint-plugin-lit-a11y]: implement media-has-caption"
See: https://raw.githubusercontent.com/jsx-eslint/eslint-plugin-jsx-a11y/master/docs/rules/media-has-caption.md

# media-has-caption

Providing captions for media is essential for deaf users to follow along. Captions should be a transcription or translation of the dialogue, sound effects, relevant musical cues, and other relevant audio information. Not only is this important for accessibility, but

[2020-10-21 15:43] bennypowers opened #1927 "[eslint-plugin-lit-a11y]: implement no-interactive-element-to-noninteractive-role"
See: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-interactive-element-to-noninteractive-role.md

# no-interactive-element-to-noninteractive-role

Interactive HTML elements indicate _controls_ in the user interface. Interactive elements include `<a href>`, `<button>`, `<input>`, `<select>`, `<textarea>`.

Non-interactive HTML elements and non-interactive ARIA roles

[2020-10-21 15:47] kaicataldo commented on #1911
@bennypowers I believe that the subclass rule's visitors will [always run first](https://github.com/kaicataldo/eslint-rule-extender/blob/967e9b7f856c18398f1e48343c35364a5a09112a/lib/index.js#L70) (unless there's a bug in the code). ESLint's `:enter:`/`:exit` visitors are intended to be used if you have state you need to manage.

I hadn't considered what would happen with multiple `:enter:`/`:exit`

[2020-10-21 15:50] bennypowers opened #1928 "[eslint-plugin-lit-a11y]: implement no-noninteractive-element-interactions"
See: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-noninteractive-element-interactions.md

# no-noninteractive-element-interactions

Non-interactive HTML elements and non-interactive ARIA roles indicate _content_ and _containers_ in the user interface. A non-interactive element does not support event handlers (mouse and key handlers). Non-interactive elements inclu

[2020-10-21 15:59] bennypowers opened #1929 "[eslint-plugin-lit-a11y]: implement no-noninteractive-tabindex"
see: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-noninteractive-tabindex.md

# no-noninteractive-tabindex

Tab key navigation should be limited to elements on the page that can be interacted with. Thus it is not necessary to add a tabindex to items in an unordered list, for example, to make them navigable through assistive technology. These applications already a

[2020-10-21 17:21] bennypowers opened #1930 "[eslint-plugin-lit-a11y]: implement no-static-element-interactions"
See: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-static-element-interactions.md

# no-static-element-interactions

Static HTML elements do not have semantic meaning. This is clear in the case of `<div>` and `<span>`. It is less so clear in the case of elements that _seem_ semantic, but that do not have a semantic mapping in the accessibility layer. For example `<

[2020-10-21 17:23] bennypowers opened #1931 "[eslint-plugin-lit-a11y]: implement no-noninteractive-element-to-interactive-role"
See: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-noninteractive-element-to-interactive-role.md

# no-noninteractive-element-to-interactive-role

Non-interactive HTML elements indicate _content_ and _containers_ in the user interface. Non-interactive elements include `<main>`, `<area>`, `<h1>` (,`<h2>`, etc), `<img>`, `<li>`, `<ul>` and `<ol>`.

Interactive HTML e

[2020-10-21 17:33] bennypowers opened #1932 "[eslint-plugin-lit-a11y]: implement label-has-associated-control"
See: https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/label-has-associated-control.md

# label-has-associated-control

Enforce that a label tag has a text label and an associated control.

There are two supported ways to associate a label with a control:

- Wrapping a control in a label tag.
- Adding the `for` attribute to a label and assigning it a DOM ID that indicates

[2020-10-21 17:34] bennypowers commented on #1932
For this one, we should well-clarify the relationships across shadow boundaries

[2020-10-21 17:58] simonhoyos commented on #1925
@bennypowers can I help with this one?

[2020-10-21 18:13] bennypowers commented on #1925
Please do!

Note that we're focused on release at the moment, so while we may be unable to merge your PR immediately (depending on the timing), we will try to approve it in time, once it passes our review 🙌

[2020-10-21 18:16] simonhoyos commented on #1925
@bennypowers sounds good. I'll start working on it and will open a PR ASAP

[2020-10-22 11:52] thepassle opened #1934 "[eslint-plugin-lit-a11y] change default to not check lit-html imports by default"
# TL;DR:
We should make it the default to always lint any html tagged template literal. If people use multiple rendering libraries in their projects, they should opt in to only check lit-html imported tagged template literals, by doing either: `"litHtmlSources": true` or `"litHtmlSources": ["ing-web"]` in the eslint settings**

## Details:
We currently are able to check if a html tagged template l

[2020-10-23 15:37] thepassle commented on #1934
this was fixed in #1936

[2020-10-23 15:37] #1934 closed

[2020-10-23 15:38] thepassle opened #1938 "add eslint-plugin-lit-a11y to open-wc linting configuration"
Note: this is a breaking change

[2020-10-23 15:39] thepassle opened #1939 "update linting config in open-wc project generator"
depends on https://github.com/open-wc/open-wc/issues/1938

[2020-10-23 16:50] dlockhart opened #1940 "[eslint-plugin-lit-a11y] role-supports-aria error"
When linting a component, I'm getting the following error:

Occurred while linting /Users/dlockhart/source/brightspace-ui/core/components/calendar/calendar.js:496
    at Object.enterElement (/Users/dlockhart/source/brightspace-ui/core/node_modules/eslint-plugin-lit-a11y/lib/rules/role-supports-aria-attr.js:45:32)
    at visit (/Users/dlockhart/source/brightspace-ui/core/node_modules/eslint-plugin-

[2020-10-23 16:59] thepassle commented on #1940
I'll take a look, thanks for reporting!

[2020-10-23 17:13] thepassle commented on #1940
Looks like we forgot to guard against expressions used as roles, in the case of `role=${foo}` we can't know the value of `foo`, so we just consider it valid.

I've created a fix here https://github.com/open-wc/open-wc/compare/fix/guard-role?expand=1 🙂

Thanks again for reporting! That was quick 😄

[2020-10-23 17:26] #1940 closed

[2020-10-23 17:26] thepassle commented on #1940
fixed in `eslint-plugin-lit-a11y@1.0.1` 👍 Should be released shortly

[2020-10-23 17:54] dlockhart commented on #1940
Awesome, thanks for the quick turnaround!

[2020-10-23 20:02] thepassle opened #1943 "[docs] Add "supported by" and "used by" section"
We recently got some incredible support from ING like for example ING-time to work on open-wc, we should mention ING in a "supported by" section or something similar in the new docs site

[2020-10-24 03:52] #1824 closed

[2020-10-25 17:55] LarsDenBakker commented on #1905
I understand the confusion, we're working on some updates to the website where we should clarify this better.

For clarification, we recommend using web-test-runner.

`@open-wc/testing` is a superset of chai, registering default plugins and exporting some helpers for test fixtures and other things. Right now it uses `window.chai`, but we will update it to use `@esm-bundle/chai` later as well.

We

[2020-10-25 19:39] LarsDenBakker commented on #1484
I've implemented this in the new HTML plugin here: https://github.com/modernweb-dev/web/pull/774

[2020-10-25 19:39] #1484 closed

[2020-10-26 13:45] michelneumann opened #1950 "[demoing-storybook] Upgrade to version 6"
Storybook 6 was released a while ago. I would be nice to include the latest features and update the package used in the @open-wc/demoing-storybook module.

[2020-10-26 15:58] felixapitzsch opened #1951 "eslint-config: wrong peer dependency eslint-plugin-babel@^7.6.0"
Could someone please verify if the peer dependency for @open-wc/eslint-config should be either
- `eslint-plugin-babel@^5.3.1` (by kaicataldo) or probably
- **`@babel/eslint-plugin@^7.6.0` ?**

My npm v7 complains:

[2020-10-26 16:39] LarsDenBakker commented on #1950
We are working on an update along with some other planned updates.

[2020-10-26 16:42] michelneumann commented on #1950
Okay, thanks for the information!

[2020-10-26 16:43] WebReflection opened #1952 "Please consider alternatives too"
### This issue mostly regards `eslint-plugin-lit-a11y`

I am following this `@open-wc` project and I think it has a great purpose but, at the same time, a very misleading message, please allow me to expand.

### About lit-html

This library is great and popular but it's not the first, not the smallest, or even the fastest out there, but everything in the site, including this plugin, hence work rel

[2020-10-26 17:53] thepassle commented on #1952
Thank you for the feedback, Andrea 🙂

There's quite a lot to unpack here, so I'll try to take things point-by-point.

We have already had this discussion both on public twitter, and continued in DMs. We recognize that we seem very focused on the `lit-*` family at this point in time, and have discussed it among the team. We're currently working on a revamp of our documentation site, and we aim to b

[2020-10-26 19:28] WebReflection commented on #1952
Thank you for your prompt answer, to which I'd like to answer too:

This is understandable, but I think everything is already out there, so that such set of defaults *could* also be inclusive, while if missing, could be a great hint for alternatives to improve, as the final goal is the same: ship Web Components out there.

As long as there's a list of checks to mark in order to justify such recomm

[2020-10-26 23:04] LarsDenBakker commented on #1952
It would be great to have an a11y linter that works for all projects. But there are a lot of templating libraries out there which can all handle expressions differently, so we need to figure out how and if this can be done efficiently and if we can maintain this.

Your position is that we should have done this from the start. I don't think that's fair, we're all volunteers with a limited set of re

[2020-10-27 07:00] WebReflection commented on #1952
I think most libraries are standards-compatible, but even if each project has some specialized syntax, *a11y* within *HTML* should be pretty normalized across all offers. *uhtml* has the special *aria* case, to simplify attributes assignment through objects literals, but any standard aria attribute would work out of the box too, and I am pretty sure that's the case for *htm* and every other librar

[2020-10-27 07:10] thepassle commented on #1952
Again, recommendations are opinionated by definition, and we are free to recommend as we see fit. Our recommendations may change in the future. We have always been transparent about this.

For one last time; we do look to improve on being more inclusive to other libraries, as I have mentioned many times now. I think we should leave the discussion at that and try to move forward with the feedback y

[2020-10-29 10:40] #1951 closed

[2020-10-29 17:37] jonmann20 opened #1959 "inline-module filename does not include hash"
## Expected behavior

Expected `inline-module-[name]-[hash].js` instead of `inline-module-[name]-[index].js`.

## Actual Behavior

When using rollup-plugin-html inline modules are not hashed and results in files that are not cache busted.

## Additional context

[code]

[code]

[code]

This is an issue when the contents of the inline module in `index.html` changes.  Ideally the contents of the inl

[2020-10-30 15:55] JulianKoch-tarent commented on #1938
Could I do this?

[2020-10-30 18:24] thepassle commented on #1938
Sorry, this was already done. Forgot to close this. But thanks for offering to help out!

[2020-10-30 18:24] #1938 closed

[2020-10-30 18:24] #1939 closed

[2020-10-31 23:23] simonhoyos commented on #1925
@bennypowers Sorry I've been busy these last two weeks and I haven't been able to work as much as I would have wanted on this issue. If that's ok for, I think I can have a PR ready during this week

[2020-11-01 07:38] #1835 closed

[2020-11-01 07:38] #1812 closed

[2020-11-01 07:38] #1829 closed

[2020-11-01 09:05] trystan2k commented on #1864
Since the create project was moved to a separated repo, I did the PR there: https://github.com/open-wc/create/pull/5

Let me know if you have any comments/suggestions/questions !

[2020-11-01 09:30] LarsDenBakker commented on #1849
Not stale

[2020-11-01 09:37] LarsDenBakker commented on #1864
Not stale... @trystan2k still interested in picking this up?

[2020-11-01 09:39] trystan2k commented on #1864
Hi,

Yes.

If you are ok with the solution I propose, I can do the PR !

[2020-11-01 09:43] LarsDenBakker commented on #1864
Yep sounds good to me

[2020-11-02 07:57] LarsDenBakker commented on #1534
We tried using browser by default, but this broke for a lot of other packages because it was pointing to commonjs packages instead of the es module packages. es-dev-server is now replaced by `@web-dev-server` where you can configure the options for the rollup node resolve plugin by setting it to an object: https://modern-web.dev/docs/dev-server/cli-and-configuration/#configuration-file

[2020-11-02 07:57] #1534 closed

[2020-11-02 18:09] LarsDenBakker commented on #1959
`@web/rollup-plugin-html` is the success of the open-wc version. This includes hashing of inlie modules: https://modern-web.dev/docs/building/rollup-plugin-html/

We're still working on feature parity, then we will update building-rollup.

[2020-11-02 18:14] LarsDenBakker commented on #1950
We are working on this as a plugin for the new dev server: https://modern-web.dev/docs/dev-server/plugins/storybook/

I'm currently testing if everything works correctly, and we still need to implement building.

[2020-11-02 18:31] jonmann20 commented on #1959
Ah, thanks I will check that out.

[2020-11-02 18:31] #1959 closed

[2020-11-03 09:14] ianldgs commented on #1849
@LarsDenBakker here is a proposal, for 2 bundles and their watermarks:

[code]

[code]

`addEventListener (ie 9, not needed)`

[2020-11-03 14:06] michelneumann commented on #1950
Thanks for the update @LarsDenBakker!

[2020-11-05 06:39] LarsDenBakker commented on #1870
This might be due to stackblitz, they do quite a lot of building behind the scenes. This should work in the browser as is.

[2020-11-06 12:21] remcovaes opened #1971 "this.constructor.getScopedTagName(tagName) returns undefined"
## Expected behavior

[code]
this.tagName should be the scoped tag name.

## Actual Behavior

returns undefined

## Additional context
Defining it via:
[code]
Works as expected. The bug only occurs if they are not defined via the `static get scopedElements`.

Bug occurs in @open-wc/scoped-elements@1.3.0
Bug was not there in @open-wc/scoped-elements@1.2.4

Also created a small repo as a showcase:
h

[2020-11-07 14:23] LarsDenBakker commented on #1837
Sorry there hasn't been any response here. It's like a race condition. However with storybook v6 there is actually a built-in replacement for this in storybook itself. We're working that as part of https://modern-web.dev/docs/dev-server/plugins/storybook/

Again really sorry this issue was left gather dust... what do you think about moving to storybook v6?

[2020-11-10 12:12] nibmz7 commented on #1713
I wrote a simple plugin using esbuild itself for use with [web dev server](https://modern-web.dev/docs/dev-server/overview/) to be able to run React out of the box. I'm not sure if this is the right thing to do but just sharing if it helps.

Plugin - [CommonJs Transformer plugin for web dev server (formerly es-dev-server)](https://github.com/nibmz7/whatsapp-mock-ui/blob/main/scripts/esbuild_cjs_pl

[2020-11-10 16:04] michaelwarren1106 opened #1979 "Optional chaining in scoped-elements Cache.js breaks webpack 4"
## Expected behavior

Recently a minor update (1.2.4 -> 1.3.0) of @open-wc/scoped-elements introduced optional chaining implementation that breaks all webpack 4 builds.

Imo, this kind of thing should have been a major bump because lots of builds are going to pull in 1.3.0 updates that are still on webpack 4 (vue cli, create-react-app, storybookjs all are still on webpack 4) automatically and then

[2020-11-10 17:39] LarsDenBakker commented on #1979
It's strange that webpack doesn't support standard javascript syntax, but we had this issue with import.meta for a long time as well. In this case I think it's fine to rewrite the code to remove the usage, the optional chaining doesn't add that much here.

[2020-11-10 17:44] michaelwarren1106 commented on #1979
Is the version of acorn that webpack uses. Is an older one, webpack 5 I think has an updated version, but it’s acorn that didn’t like the optionals I believe

[2020-11-10 17:52] ianldgs commented on #1849
@LarsDenBakker would you give a green light on this based on my previous comment?
My company might allow one of us to work on this at some point.
If someone from `open-wc` starts working on this, please let me know.

[2020-11-10 18:10] LarsDenBakker commented on #1849
I noticed that many of these are being added to the webcomponents polyfills as well, so we need to see what they cover. So we will get to this at least when the new version of lit-html/lit-element comes out. In the meantime you can configure custom polyfills in the polyfills loader, so that should work as well.

[2020-11-10 22:36] MathieuPuech commented on #1979
Webpack issue about this is here: https://github.com/webpack/webpack/issues/10227

The issue is closed because they have fixed it in Webpack 5, they will not backport it to webpack 4.

Webpack 5 support in progress:
- React https://github.com/facebook/create-react-app/pull/7929
- Vue https://github.com/vuejs/vue-cli/pull/5611
- Angular https://github.com/angular/angular-cli/pull/18873
- Storybook

[2020-11-11 10:43] abdonrd opened #1980 "Replace @open-wc/rollup-plugin-html with @web/rollup-plugin-html"
There are any plans to replace `@open-wc/rollup-plugin-html` with `@web/rollup-plugin-html` in the `@open-wc/building-rollup`? There are interesting stuff like the `absoluteBaseUrl` there.

[2020-11-11 17:03] LarsDenBakker commented on #1980
Yes we want to do this, along with `@web/rollup-plugin-polyfill-loader`.

[2020-11-12 16:27] jcgueriaud1 commented on #1345
I think it's related to this ticket but when I'm on this page:
https://open-wc.org/docs/demoing/storybook/#custom-elementsjson

There are few broken links:

- https://open-wc.org/demoing-storybook/?path=/docs/demo-card-docs--simple
- https://open-wc.org/demoing-storybook/?path=/docs/decorators-withwebcomponentknobs--example-output
- https://open-wc.org/developing/es-dev-server.html
- https://open-

[2020-11-13 09:26] peschee commented on #1837
@LarsDenBakker I will give it a shot and let you know.

[2020-11-13 10:19] abdonrd commented on #1980
I have started this, but I just realized that the plugin itself has changed: https://github.com/open-wc/open-wc/compare/master...abdonrd:web-rollup

[2020-11-13 12:50] LarsDenBakker commented on #1980
Yes indeed. The functionalities are still there, but we made the API simpler

[2020-11-13 17:44] daKmoR commented on #1980
I made it work for `codename rocket` by forking building-rollup...

you can see [the code in the repo](https://github.com/daKmoR/rocket/tree/master/packages/cli/src/_building-rollup-fork).

copying parts from there will probably get you ~80% there... however, as this will be a breaking change I'm wondering if we have some other breaking changes lined up? 🤔

[2020-11-13 19:02] LarsDenBakker commented on #1980
I don't know of any other breaking changes pending. Perhaps terser if we didn't already update that.

[2020-11-14 08:54] Matsuuu commented on #1571
Pretty sure this is resolved, so it can be closed :)

[2020-11-14 08:55] #1571 closed

[2020-11-14 16:00] bennypowers commented on #1923
not stale

[2020-11-14 22:25] abdonrd commented on #1980
Thanks guys!

But there is no option to minify in the new plugin?
https://github.com/open-wc/open-wc/pull/1986/files#diff-c4ef3c2ec498756a71474145d944b814adb96495ef7ea37d221af16c90b950ebL47

https://modern-web.dev/docs/building/rollup-plugin-html/#minification

[2020-11-15 07:58] bennypowers commented on #1923
What do we do about
[code]
Do we just pass any control CE that has a node-position interpolation?

[2020-11-20 01:43] stephenwade opened #1987 "[@import-maps/resolve] Can't import @import-maps/resolve/src/parser in TypeScript"
## Expected behavior

I should be able to use the following `import` statement in TypeScript:

[code]

## Actual Behavior

I get an error when trying to build the project:

[code]

## Additional context

This was probably caused by #1949. The issue happens when updating @import-maps/resolve from 1.0.0 to 1.0.1:
https://github.com/modernweb-dev/web/pull/948

[2020-11-22 08:00] #1852 closed

[2020-11-22 08:00] #1844 closed

[2020-11-22 20:34] stephenwade commented on #1987
Fixed by:

[code]

[2020-11-22 20:34] #1987 closed

[2020-11-22 20:40] LarsDenBakker commented on #1987
Didn't notice this issue, but indeed just ran into the same problem :)

[2020-11-24 11:10] #1979 closed

[2020-11-27 00:22] Alos opened #1997 "Creating a new application using `npm init @open-wc` creates an application that does not work"
After creating an application using TS all features turned on with the initializer the result is an application what then started using `npm run start` outputs:
[code]

These are the values used in the application setup:
[code]

[2020-11-27 12:03] danielmatthew opened #1998 "[docs] 404 page regression"
## Expected behavior
Visit https://open-wc.org/testing/ and get a functioning 404

## Actual Behavior
Visited https://open-wc.org/testing/ and got a 404 page. The 404 looks like this:

<img width="1728" alt="Screenshot of the broken 404 page" src="https://user-images.githubusercontent.com/111794/100447307-40848e00-30a8-11eb-94ce-2ad3f5b4240b.png">

…with huge SVG icons because the correct CSS is n

[2020-11-28 10:15] LarsDenBakker commented on #1997
I'm not able to reproduce this error. We don't install or use `yeoman-generator`. After running the generator, did you `cd` into the `my-app` directory?

[2020-11-28 12:43] thepassle commented on #1998
Thanks for reporting!

I took a look, and... Im not sure why this is happening. I opened an issue with the folks at workbox, tracked here: https://github.com/GoogleChrome/workbox/issues/2682

[2020-11-28 20:31] Alos commented on #1997
[code]
Yes I did.

I tried, updating the local version of `yeoman-generator` clean and install and got the same error. I uninstalled `yeoman-generator` and tried creating a new app, same error.

[2020-11-28 20:37] Alos commented on #1997
For some reason the `node_modules` in my home directory contains a version of `@types` that has the `yeoman-generator`.  I'm not sure why the application would pull the dependencies from there tho.

¯\(°_o)/¯

[2020-11-29 00:21] #1997 closed

[2020-11-29 11:10] LarsDenBakker opened #1999 "[dev-server-hmr] handle multiple variable assignments"
We handle this:

[code]

But not:

[code]

[2020-11-29 11:29] bennypowers opened #2000 "[dev-server-hmr]: handle mixed type imports"
## Source

[code]

<details>

<summary>Config</summary>

[code]

</details>

## Expected behavior

File loads

## Actual Behavior

browser console error:

server terminal output:

      at validate (path/to/node_modules/@babel/core/node_modules/@babel/types/lib/definitions/utils.js:132:11)
      at validator (path/to/node_modules/@babel/core/node_modules/@babel/types/lib/definitions/utils.js:103:7

[2020-11-29 11:56] bennypowers opened #2001 "[dev-server-hmr]: Uncaught (in promise) TypeError: attempted to get private field on non-instance"
## Source

[code]

## Expected behavior

Element loads and reloads without error

## Actual Behavior

[code]

## Additional context

Which packages and versions are you using.

[2020-11-29 15:30] LarsDenBakker commented on #2000
@bennypowers do you know what this compiles to? We only get to see the compiled output, so I need to know what will be passed to the plugin

[2020-11-30 07:44] #1999 closed

[2020-11-30 07:45] LarsDenBakker commented on #2000
I wonder if this is fixed byhttps://github.com/open-wc/open-wc/pull/2003

[2020-11-30 07:53] LarsDenBakker commented on #2001
This is a tough one, it looks like the replaced function is not allowed to access the private variables of the original class. We need to see if we have any possibilities there...

[2020-11-30 08:32] bennypowers commented on #2000
Looks like. Will reopen if needed.

[2020-11-30 08:32] #2000 closed

[2020-11-30 08:34] bennypowers commented on #2001
A maximal solution is to compile away private fields

[2020-12-05 05:00] #1876 closed

[2020-12-07 11:16] MateuszMyrcik opened #2008 "Problem with sourcemaps during building storybook"
## Expected behavior
During run npm script there is no error such:
Error when using sourcemap for reporting an error: Can't resolve original location of error

## Actual Behavior

Currently when I'm  runing **npm run build-storybook**  I've got final build and everything works properly. Unofortunetyl I've got 4x times such error on screen
![image](https://user-images.githubusercontent.com/43811759

[2020-12-08 11:36] #1898 closed

[2020-12-09 14:18] Vi-vi-Vi opened #2009 "test randomly fails"
Hello,

I have this component that I would like to test with the test runner.

./package.json

[code]

./my-component/my-component.js

[code]

./my-component/my-component.html

[code]

./my-component/test/my-component.test.js

[code]

when I run `npm run test` I get the following error with chromium:

[code]

but when I run in watch mode with the command `npm run test:watch`, everything is fine:

[2020-12-10 12:35] ciskavs commented on #484
Hi,

I am trying to use Stryker for mutation testing our webcomponents, but run into the same issue: it fails on a dynamic import with the error "TypeError: Failed to resolve module specifier 'my-component/elements/my-code.js'". From this issue it is not clear to me what the solution was. Do you have any suggestions on how to fix it?

[2020-12-10 15:19] gustavo-salazar commented on #1229
Hey there,
Any progress on this?
I  want to use the `semantic-dom-diff` for testing of our web components. But most of our WC are a sort of visualisation component generating SVGs, and therefore when I do snapshot testing with open-wc, I end up with a very empty snapshot.

Maybe adding an option to not include '`svg'` in the `DEFAULT_IGNORE_TAGS`. a sort of opt-in warning that the generated snapsh

[2020-12-10 21:32] LarsDenBakker commented on #2009
There is a race condition in your code. Fetching the template happens async, so by the time the test runs fetching may or may not have happened already.

[2020-12-10 21:33] LarsDenBakker commented on #1980
not stale

[2020-12-14 14:44] peschee commented on #1837
@LarsDenBakker Is mdjs supported with the new dev server + storybook v6?

[2020-12-17 18:30] michaelwarren1106 opened #2016 "Unable to attach two oneEvent handlers to the same target"
## Expected behavior

Consider the following code:

[code]

I would expect that the `resolve` function in both event listeners is fired correctly with the event contents

## Actual Behavior

NEITHER oneEvent handler's `resolve` function actually resolves, so expects on either  `eventOne` or `eventTwo` BOTH fail.

## Additional context

@open-wc/testing-helpers, lit-element (custom elements), jest

[2020-12-17 20:09] michaelwarren1106 commented on #2016
I took a look at the code for `oneEvent` and I don’t see anything obvious in the definition, I just know that for some reason the resolve never gets fired.

I wonder if it could somehow be related to jest? I haven’t tested this is a non-jest env, so that’s about the only thing I could imagine to prevent multiple event listeners

[2020-12-18 07:53] kevinpschaaf opened #2017 "[semantic-dom-diff] Option to normalize adjacent textNodes when separated by comment"
## Expected behavior
Two adjacent textNodes separated only by a comment can be (optionally, if needed) treated as non-semantic.

## Actual Behavior
Currently comments are excluded from the treewalk that generates the diffable HTML, however if two adjacent textNodes are separated by a comment, this is treated as a semantic difference and are printed on separate lines.

Example:
[code]
[code]

## Ad

[2020-12-18 07:54] kevinpschaaf commented on #2017
There are cases in `lit-html` where we (need to) leave comment markers around `textNodes` to identify part boundaries, and it can get tedious to treat those as semantic.

[2020-12-19 06:45] #1905 closed

[2020-12-19 06:45] #1920 closed

[2020-12-19 06:45] #1943 closed

[2020-12-24 11:09] #1952 closed

[2020-12-25 10:42] LarsDenBakker commented on #2017
I think we should always merge adjacent text nodes. Since we're filtering out the comments, I don't think you could practically even assert that they are two different text nodes right now.

[2020-12-26 17:15] bennypowers commented on #2001
not stale

[2020-12-28 02:41] michaelwarren1106 commented on #2016
so, as expected, something must be iffy in my testing setup.

I made this pen: https://codepen.io/michaelwarren1106/pen/oNzpjbN

and that totally proves that with a minimal setup, the `oneEvent` listeners working fine on the same element with two different events.

The only differences really between my setup and the pen are:
- the pen is jest-lite, my setup is full jest with jest-dom 16 for shado

[2020-12-28 06:49] jimmy-collazos commented on #2016
In your example code; When dispatch events? after connected callback?
check the `await` instruction and event dispatchers.

[2020-12-28 16:39] #2017 closed

[2020-12-29 02:02] michaelwarren1106 commented on #2016
in my real code, and in the example, the events are dispatched in the  `connectedCallback` of the web component i'm testing. In my real code, i can verify that each event fires successfully if i only attach a single listener, but neither fire if i attach two.

[2020-12-31 19:52] #1864 closed

[2020-12-31 19:52] #1950 closed

[2020-12-31 19:52] #1870 closed

[2020-12-31 19:52] #1971 closed

[2021-01-01 09:14] madeInLagny opened #2030 "Dynamic import fail with createSpaConfig"
rollup.config.js

[code]

Dynamic Import in app-shell

[code]

## Expected behavior

view is loaded dynamically based on the page value. Works well with npm run start.

## Actual Behavior

Page is not found.
![image](https://user-images.githubusercontent.com/54598963/103436201-40346100-4c19-11eb-8319-524bb1ff432d.png)

## Additional context
Page is loaded if imported in static imports, but errors

[2021-01-01 10:16] LarsDenBakker commented on #1950
We now recommend https://modern-web.dev/docs/dev-server/plugins/storybook/ for storybook v6. The generator is updated as well.

[2021-01-01 11:17] madeInLagny commented on #2030
Answering my own post: the issue came from the variables in the dynamic import. Problem got fixed by using this [plug-in](https://www.npmjs.com/package/rollup-plugin-dynamic-import-variables)

[2021-01-01 11:17] #2030 closed

[2021-01-02 08:59] abdonrd commented on #1980
not stale

[2021-01-05 17:29] kevinpschaaf commented on #2017
Awesome, thank you gentlemen!

[2021-01-10 14:30] #1849 closed

[2021-01-10 15:25] LarsDenBakker commented on #1849
This issue has been sitting here for a while. We discussed it in the team as well a while ago, and right now we don't want to take on the maintenance of a polyfills bundle/package. The loader is pluggable, so users can plug in their own sets of polyfills. We will continue to support a default configuration that works for popular libraries like lit-html/lit-element, so when the new version comes ou

[2021-01-11 08:56] barroudjo opened #2037 "incompatibility with @web/rollup-plugin-import-meta-assets"
As seen with @LarsDenBakker , @open-wc/building-rollup is incompatible with @web/rollup-plugin-import-meta-assets (due to the latter using babel-bundled-import-meta).
It'd be great if this could be solved as assets can not be imported as freely as they should.

[2021-01-11 10:43] barroudjo opened #2038 "@open-wc/rollup-plugin-polyfills-loader should use the publicPath from @web/rollup-plugin-html"
Otherwise the loading of polyfills will fail when using a publicPath.

[2021-01-11 18:15] justinfagnani commented on #1849
Note that we've added a number of DOM methods needed by the next version of lit-html and LitElement to the web components polyfill loader.

[2021-01-11 20:05] acory opened #2040 "[dev-server-hmr] Can I set basePath for hmr ?"
My app runs on a basePath, but when the files of the dev-server-hmr are loaded the basePath is not added to the URL and ends up in a 404:

**http://localhost:8082/__web-dev-server__/wc-hmr/patch.js** net::ERR_ABORTED **404 (Not Found)**

-------------web-dev-server.config.mjs-----------------------------------------------------
`export default /** @type {import('@web/dev-server').DevServerConfig}

[2021-01-11 20:32] LarsDenBakker commented on #2040
The base path should not affect serving the HMR module, will look into this.

[2021-01-12 10:10] jlengrand opened #2042 "A dead link and an incorrect table formatting on the website"
## Expected behavior

Website with working links

## Actual Behavior

Some dead links :)

## Additional context

* In this page : https://open-wc.org/docs/building/rollup/#automatic-setup, the `project-generator` link is dead (https://open-wc.org/init/). Probably should be https://open-wc.org/guides/developing-components/getting-started/.
* In this page, the formatting of the table is weird (on my

[2021-01-12 10:14] jlengrand commented on #2042
Dead link fixed here :https://github.com/open-wc/open-wc/pull/2043.

I looked at the markdown table, but it seems well formatted (at least it renders fine on Code). Not sure what's happening on the page.

![image](https://user-images.githubusercontent.com/921666/104300851-48b55300-54c7-11eb-8a26-1d620dd66e0f.png)

You can ignore the PWA comment, it is more of a remark.

[2021-01-12 14:25] jlengrand opened #2044 "Dead link in demo when creating a new project"
## Expected behavior

When I create a new project from scratch and start it, the link to code examples works as expected.

## Actual Behavior

I get a 404.

## Additional context

I only used `npm init @open-wc` and create a new project using the generator. I opened the generator and ran `npm start`.
The project opens on this :

![image](https://user-images.githubusercontent.com/921666/104326746-5

[2021-01-12 14:26] jlengrand commented on #2044
The link should probably be https://open-wc.org/guides/developing-components/code-examples/

[2021-01-12 14:27] jlengrand commented on #2044
I think the issue is actually located in the create project. See https://github.com/open-wc/create/search?q=developing%2F%23code-examples

[2021-01-12 14:32] jlengrand commented on #2044
Proposed a change here : https://github.com/jlengrand/create/pull/1

[2021-01-13 19:34] acory opened #2046 "[@web/dev-server] Live-reload when the app is dockerized(volume is mounted) and uses traefik as reverse proxy"
Is live-reload possible in this situation?

[2021-01-14 13:48] jlengrand opened #2048 "Error when initializing project with Node 15 and NPM 7"
## Expected behavior

Dependencies install fine.

## Actual Behavior

I'm getting dependencies conflicts when creating a new project with node 15 and npm 7 using the generator.
Everything runs smooth when using node 14 or lower.

## Additional context

Here is a complete example :

[code]

Behaviour is totally consistent (on my computer).

[code]

[2021-01-18 07:55] daKmoR opened #2050 "Automatically check for dead links"
Found the following dead links while running a tool to check local links

[code]

[2021-01-18 20:14] mlemnian commented on #1898
I know this issue is closed, but recently I had the same issue.
I realized that my node (and npm and npx) binaries were located inside of my GraalVM bin-folder.
I moved the links away from the GraalVM versions and installed node and npm fresh via https://nodejs.org/en/download/
Now it works.

[2021-01-19 06:03] daKmoR commented on #2050
implemented and fixed here https://github.com/open-wc/open-wc/pull/2052

[2021-01-19 06:03] #2050 closed

[2021-01-19 06:10] daKmoR opened #2054 "Replace all hard coded https://open-wc.org/... links with relative/or absolute links so they can be auto checked"
## Expected behavior

Have mostly (or even only) relative links so they can checked. (absolute links if needed)
This will also allow the creation of fully-functional preview URLs.

## Actual Behavior

There are 47 usages of `https://open-wc.org`

[2021-01-19 17:09] madeInLagny opened #2055 "SpaConfig Dev Mode"
## Expected behavior

Roll up is configured with devMode on.

[code]

## Actual Behavior

Build outputs minified js files.

![image](https://user-images.githubusercontent.com/54598963/105068495-4b90e480-5a81-11eb-8c5a-014b5dee3008.png)

## Expected behaviour

Comments say that 'development mode creates a non-minified build for debugging or development'

[2021-01-22 11:14] jlengrand opened #2060 "[Feature Request] Add check for dead links in the documentation"
I created a simple workflow so that we have an overview of dead links in the documentation when pull requests and releases are created.

I found some dead links in the past and there are likely more. This would help spot and fix them :).

[2021-01-22 11:14] jlengrand commented on #2060
See https://github.com/open-wc/open-wc/pull/2059 for proposal

[2021-01-22 12:01] daKmoR commented on #2060
the check is already done in the task before via `yarn site:build` which executes Rocket... which has `check-html-links` out of the box...

If you open the "build" phase you will see it executed
[code]

the reason there are still some broken links is https://github.com/open-wc/open-wc/issues/2054

[2021-01-22 12:52] jlengrand commented on #2060
Right, I checked but didn't look deep enough. Some links are broken, but the build passes though in your screenshot?

[2021-01-23 17:42] #1998 closed

[2021-01-26 20:34] kevinpschaaf opened #2085 "[scoped-elements] lit-element dependency not declared, can lead to install+TS build issues"
## Expected behavior

No TS build issues when depending on `@open-wc/testing`.

## Actual Behavior

[code]

## Additional context

`@open-wc/testing-helpers` depends on `@open-wc/scoped-elements` which has an implicit (undeclared) dependency on `lit-element` due to its type import of `LitElement`:

https://github.com/open-wc/open-wc/blob/303a7315f19263f2aee22da511f8eebcff64c43a/packages/scoped-ele

[2021-01-28 11:46] phihu commented on #2048
Ran into the same problem. Changing the required version of es-lint in your "devDependencies" (see your project's  package.json) from

`"eslint": "^6.1.0"`

to

`"eslint": "^7.5.0"`

seems to do solve it.
I had no time for proper testing, though.

[2021-01-28 20:14] LarsDenBakker commented on #2046
That's hard to say...

[2021-02-19 04:20] genderev opened #2096 "How to test a mousedown event"
I am trying to rewrite this simple test from the starter project:

[code]

 but I am not sure how to rewrite it for a mousedown event. I changed `.click()` to `.mousedown()` but `.mousedown()` is not a valid event. What are the valid events besides `.click()`, `triggerFocusFor(el)`, and `triggerBlurFor(el)`?

(I could not figure out how to use [oneEvent](https://open-wc.org/docs/testing/helpers/#t

[2021-02-19 12:39] bennypowers commented on #2096
[code]

this doesn't accurately simulate an actual mousedown though

[2021-02-19 12:55] daKmoR commented on #2096
there are some discussions to actually support a "real" mouse click by the browser
https://github.com/modernweb-dev/web/issues/1289

[2021-03-01 03:23] lpellegr opened #2101 "Allow configuring Workbox to bypass cached fallback for configured path regex"
It's most probably not a feature request but since I am quite lost about how to configure workbox using open-wc I am opening this issue.

To summarize, I have an open-wc app deployed on Firebase Hosting. The app is bundled and packaged by open-wc with the `injectServiceWorker` and `workbox` options set to `true`. That is working very well.

The issue I experience is related to Firebase and its res

[2021-03-01 08:08] thepassle commented on #2101
You can override the default config exactly like youre doing, and any properties you add will be merged with or overwrite the default workbox configuration.

Our configuration uses `rollup-plugin-workbox` v5, which in turn uses `workbox-build` v5, so `navigateFallbackAllowlist` should work. Im not entirely sure why that option doesnt work, but this seems like an issue with workbox.

[2021-03-01 13:43] lpellegr commented on #2101
Thanks a lot for your answer.

The configuration was not working because I specified `navigateFallbackWhitelist` that isn't a supported property. In that case, open-wc was building with no errors but the service worker file was not generated.  Using  `navigateFallbackAllowlist`, the generated service worker is working as expected.

[2021-03-01 13:43] #2101 closed

[2021-03-02 03:39] hasanirogers opened #2102 "ArgsTable in MDX not showing in Storybook"
## Expected behavior

A table of properties to appear.

## Actual Behavior

An error saying "No inputs found for this component. Read the docs" appears.

## Additional context

I'm not sure if this is a problem with Storybook itself or the Storybook Plugin/Config for Web Dev Server. I've been trying to get Storybook to work with ArgsTable in MDX to no avail. Here's my index.stories.mdx file:

[cod

[2021-03-04 07:55] jimsimon opened #2105 "[dev-server-hmr] Module resolution issues in monorepos"
## Expected behavior

The server should start without error, render without error, and hmr should work.

## Actual Behavior

Server starts up fine but throws errors upon attempting to load a page:
[code]

## Additional context
dev-server config:
[code]

Which packages and versions are you using.
The latest versions of all of the packages shown in the config file.

[2021-03-04 14:22] knuspertante opened #2106 "Could not resolve import "fs""
Hey guys,

currently I want to try aws amplify with open-wc template.

I several errors, that some modules could not be resolve.

- Error while transforming node_modules/@aws-sdk/util-body-length-node/dist/es/index.js: Could not resolve import "fs".
- Error while transforming node_modules/@aws-sdk/hash-node/dist/es/index.js: Could not resolve import "crypto".
- Error while transforming node_module

[2021-03-04 20:50] #2106 closed

[2021-03-05 02:55] jbuckner commented on #2048
I'm seeing this as well. I had to update a few additional dependencies for it to work. The `typescript-eslint 2.x` plugins are pegged at eslint 5 or 6, but upgrading them and `open-wc/eslint-config` to 4.x fixes it.
[code]

[2021-03-06 03:20] jimsimon commented on #2105
I was able to resolve this by adjusting the plugin order so that the hmr plugin was after esbuild but before commonjs. I'm not sure if this is something worth mentioning in the docs somewhere or not.

[2021-03-06 03:20] #2105 closed

[2021-03-06 10:31] LarsDenBakker commented on #2102
You need to import it from the prebuilt storybook we use: `import { Meta, Story, Canvas, ArgsTable } from '@web/storybook-prebuilt/addon-docs/blocks.js';`. https://modern-web.dev/docs/dev-server/plugins/storybook/#docs

Can you try with that?

[2021-03-08 19:10] prodisoftdev opened #2109 "index-no-side-effects.js do not export waitUntil"
index-no-side-effects.js do not export "waitUntil" in open-wc/packages/testing/

This do not allow to use waitUntil in tests without having side effects

[2021-03-09 03:56] ykant commented on #2046
try browsersync insteed, but browsersync is very slow.

[2021-03-09 14:12] MonsieurBon commented on #1845
Hi

I'm running into a problem with `__mocha_context__` not being available when using `dom.to.equalSnapshot()`. I can reproduce this problem on a brand new project initialized with `npm init @open-wc`. How do I run the tests with karma/mocha?

Here is a repo that reproduces the error: [open-wc-error](https://github.com/MonsieurBon/open-wc-error)
Steps I took:

- Run `npm init @open-wc` (new appli

[2021-03-12 14:32] barroudjo opened #2112 "ScopedElementsMixin prevents nested svg string template usage"
## Expected behavior
This should display a black circle:
[code]

## Actual Behavior

But it does not. And removing the use of `ScopedElementsMixin` fixes the problem.

## Additional context
There are no errors logged in the console. The svg is correctly inserted in the DOM, it just doesn't show.
The issue is present both on chrome and firefox.
Here is a stackblitz to reproduce the issue: https://s

[2021-03-12 18:36] vikerman opened #2113 "Flicker on initial load in dev mode when using TypeScript"
## Expected behavior

npm start with TypeScript enabled loads the app in dev mode without loading the app twice and causing a flicker.

## Actual Behavior

When using TypeScript there is an initial flicker because of the way tsc is setup - First running in normal mode and then in watch mode. The watch mode tsc causes the page to reload causing a flicker

## Additional context
In package.json the d

[2021-03-12 18:38] vikerman commented on #2113
Oops - Maybe belongs in open-wc/create ?

[2021-03-13 16:34] #2113 closed

[2021-03-14 08:34] tkdphoenix opened #2114 "Unable to import Koa middleware"
I have delayed making this request in the hopes that my company would allow the Koa dependency into our network. I don't want to be a community member who says, "fix my issue even though there may only be 3 people who have this problem." However, I have been waiting for over 9 months for my company to allow this simple middleware which is a part of the @open-wc Storybook implementation as well as

[2021-03-14 13:53] TimvdLippe commented on #1629
We were able to resolve this issue on the DevTools side and the linked license has been approved for usage.

[2021-03-14 13:53] #1629 closed

[2021-03-14 16:11] tony commented on #1763
@oliversalzburg

Can you explain what that'd look like so we're clear what steps it'd take?

[2021-03-14 16:59] oliversalzburg commented on #1763
[code]
In `/etc/wsl.conf`

See https://docs.microsoft.com/en-us/windows/wsl/wsl-config#interop

[2021-03-16 11:17] #1681 closed

[2021-03-16 23:10] Taewa opened #2118 "Unexpected identifier"
## Expected behavior

Hi,
First of all, it's not 100% @open-wc issue but it's mixed and the error is happening from `@open-wc/testing/index.js`.
Also I'd like to know your opinion.

I am trying to run the cucumber testing with LitElement, Typescript, CucumberJs (+ Cucmber-js-tsflow) and @open-wc/testing.

POC repo is here: https://github.com/Taewa/cucumber-ts-lit-element

When I run the test npm r

[2021-03-30 21:51] Alos opened #2123 "Best practice to add fonts into a web component"
I'm using: `npm init @open-wc` to create a brand new web component (not an application) called `my-foo` this component will use [mwc-icon-button](https://github.com/material-components/material-components-web-components/tree/master/packages/icon-button). The instructions say that I need to import the Material Icon font. What's the correct way of doing so using the generated code?

[2021-03-31 11:05] hugolopes3d opened #2124 "Testing Web Components Thrown Exceptions"
Hello,

I have a web component built using vanilla and i am now performing some unit tests.

I have some validations on my arguments that triggers Error exceptions whenever the given attribute doesn't have the correct value.

The validation is triggered on the the method **connectedCallback**:

`public connectedCallback() {
        this.attachShadow({ mode: 'open' });
        this.validateArgument

[2021-03-31 15:47] bennypowers commented on #2124
It's considered an anti-pattern for a custom element to throw an error just because it was added to the page.

Have you ever seen a `<video>` or `<select>` element that threw a javascript error just because you created it or wrote a page with one?

It might be better to expose an `error` property/attribute and have the element render an error state instead of throwing an error.

[2021-03-31 15:48] #2123 closed

[2021-04-18 10:14] manolakis commented on #2112
Thanks for the issue @barroudjo

I'll take a look into it.

[2021-04-19 06:18] ElodiePayot opened #2126 "Storybook "No code available""
## Expected behavior

When using npm init @open-wc and then npm run storybook, in the "Docs" tab of storybook we are supposed to see the "Show code" button and it should show the component code.

## Actual Behavior

Instead, I'm having a disabled button saying "No code available".
I encounter this issue on the basic starter projet when using npm init @open-wc (without changing anything) and also i

[2021-04-19 13:59] barroudjo commented on #2112
Cool. I'm very curious to see what is the problem here.

[2021-04-19 20:32] jvanderen1 opened #2128 "chai-dom-diff throwing error in semantic-dom-diff using equalSnapshot"
## Expected behavior

I have this basic test component that should work:

[code]

## Actual Behavior

An error is thrown inside of `chai-dom-diff`:

[code]

## Additional context

I run `npm test`. Here is my `package.json`:

[code]

[2021-04-19 20:55] #2128 closed

[2021-04-19 20:57] jvanderen1 commented on #2128
I believe the issue is with `window.__mocha_context__` not being available. #1845 would have helped catch this.

[2021-04-20 06:37] LarsDenBakker commented on #2126
This is a known issue with `@web/dev-server-storybook`. We need to dig into what's causing this.

[2021-04-20 06:39] LarsDenBakker commented on #2124
I agree with what benny says. It might be possible with appendChild, but I'm not certain:

[code]

[2021-04-20 06:41] LarsDenBakker commented on #2118
Something in your build pipeline is messing with the code and changing that file into some other module format. Those files have a special detection to support to support different module formats as well, but in this case it's having an adverse effect.

This will be fixed with https://github.com/open-wc/open-wc/pull/2130 will probably solve this for you... but you can also check if you can drop th

[2021-04-20 06:50] LarsDenBakker commented on #2114
Unfortunately it won't be possible to not use Koa, it is a core dependency of web dev server.

[2021-04-20 06:52] ElodiePayot commented on #2126
Ok, thank you for the answer!

[2021-04-21 15:37] #2114 closed

[2021-04-21 15:44] #2109 closed

[2021-04-25 10:45] daKmoR commented on #1408
This has been implemented in it's successor `@web/dev-server`

[2021-04-25 10:45] #1408 closed

[2021-04-25 10:45] daKmoR commented on #1390
Rollup is the recommend setup now

[2021-04-25 10:45] #1390 closed

[2021-04-25 10:46] daKmoR commented on #1126
There is now an official `ref` directive with the latest version of lit.

https://lit.dev/docs/api/directives/#ref

[2021-04-25 10:46] #1126 closed

[2021-04-25 10:48] daKmoR commented on #1022
we recommend `@web/test-runner` as a replacement for karma. If the issue persists there feel free to open an issue at https://github.com/modernweb-dev/web

[2021-04-25 10:48] #1022 closed

[2021-04-25 10:49] daKmoR commented on #1700
we recommend `@web/dev-server`. If the issue persists there feel free to open an issue at https://github.com/modernweb-dev/web

[2021-04-25 10:49] #1700 closed

[2021-04-25 10:50] daKmoR commented on #1613
we recommend `@web/dev-server`. If the issue persists there feel free to open an issue at https://github.com/modernweb-dev/web

[2021-04-25 10:50] #1613 closed

[2021-04-25 10:51] daKmoR commented on #1486
we recommend `@web/test-runner`. If the issue persists there feel free to open an issue at https://github.com/modernweb-dev/web

[2021-04-25 10:51] #1486 closed

[2021-04-25 10:51] #1289 closed

[2021-04-25 10:53] daKmoR commented on #1208
we recommend `@web/test-runner`. If the issue persists there feel free to open an issue at https://github.com/modernweb-dev/web

[2021-04-25 10:53] #1208 closed

[2021-04-25 10:54] daKmoR commented on #890
we no longer have such a section in our updated website 😅

[2021-04-25 10:54] #890 closed

[2021-04-25 10:56] daKmoR commented on #995
no longer an issue with our shiny new page 🤗

[2021-04-25 10:56] #995 closed

[2021-04-25 13:15] daKmoR commented on #1245
As we update to the latest Lit release all directives need a breaking change - we will remove `live` with this change

to be released soonish

[2021-04-25 13:15] #1245 closed

[2021-04-25 13:32] daKmoR commented on #1837
we recommend using `@web/dev-server` and its storybook v6 plugin with the new knobs system.

[2021-04-25 13:32] #1837 closed

[2021-04-25 14:16] peschee commented on #1837
@daKmoR Do you have any concrete examples of that setup? I know the docs page https://modern-web.dev/docs/dev-server/plugins/storybook/ but the open-wc repo + the old setup had a more complete example (e.g. the card component and its documentation).

[2021-04-25 14:40] daKmoR commented on #1837
@paales you can take a look at the official storybook docs
https://storybookjs.netlify.app/web-components-kitchen-sink/?path=/story/addons-knobs--simple

[2021-04-25 15:02] peschee commented on #1837
Oh oh, no we dragged a „@paales“ into this ;) Thanks @daKmoR, will look into that.

[2021-04-25 18:38] daKmoR commented on #1837
oups sorry 😅

[2021-04-26 09:44] paales commented on #1837
Haha, 'what the hell is this?!" haha, no worries

[2021-04-28 15:27] lazka opened #2156 "[scoped-elements] 2.0: included polyfill has side effects but is not marked as such"
Here is a minimal reproducer: https://github.com/lazka/scoped-test-v2

Expected behavior:

There is no javascript error and the web components render.

Actual behavior:

[code]

Passing `--no-treeshake` to rollup makes it work. I don't know if this is a rollup bug..

[2021-04-28 15:44] lazka commented on #2156
Ah, the package has `"sideEffects": false` set so bundlers throw out the unused import. Changing it to `"sideEffects": ["./src/loadPolyfill.js"]` makes it work.

@manolakis ^

[2021-04-28 15:56] manolakis commented on #2156
Thanks @lazka.

I'm going to create a PR including the side effect.

[2021-04-28 16:07] lazka opened #2157 "[scoped-elements] 2.0: getScopedTagName() change not ideal for porting"
With 1.x:

[code]

With 2.x

[code]

getScopedTagName() is still there but does something completely different, it returns the tag name of the current element instead of the passed in name.

Suggestions:

* return the name that was passed in. (is there a way to validate it somehow?)
* remove the method so it's clear that this needs attention when porting

@manolakis

[2021-04-28 16:10] LarsDenBakker commented on #2157
The current logic is unexpected indeed. We should return the tag that was passed in.

[2021-04-28 16:11] manolakis commented on #2157
ouch :( Fixing it.

[2021-04-28 16:20] #2156 closed

[2021-04-28 16:21] #2157 closed

[2021-04-29 08:23] lazka commented on #2157
Thanks! works nicely now

[2021-04-29 08:23] lazka commented on #2156
Thanks!

[2021-04-29 08:58] hupf opened #2171 "MDX files in Storybook do not work in generated TypeScript projects"
## Expected behavior

I've set up a TypeScript project using the `npm init @open-wc` generator with the "Demoing" feature. It installed the `@web/dev-server-storybook` plugin and registered it in the `.storybook/server.mjs` file. I can add custom `.stories.ts` files that show up correctly in StoryBook, when started with `npm run storybook`.

I've then created a MDX file `stories/Foo.stories.mdx` w

[2021-04-29 14:11] lazka opened #2172 "[scoped-elements] 2.0: defineScopedElement() sometimes doesn't work"
See https://github.com/lazka/scoped-test-v2/blob/main/demo.js for a minimal example.

The `SomethingDifferent` component isn't visible iff it is registered globally first and defineScopedElement() is called after the first update.

Two things:

* Removing the first `customElements.define` fixes things
* Calling `this.defineScopedElement` earlier fixes things as well

[2021-04-29 21:25] manolakis commented on #2172
Seems to be a problem in the polyfill. We should open an issue in https://github.com/webcomponents/polyfills

[2021-04-29 21:45] manolakis commented on #2172
I opened this issue https://github.com/webcomponents/polyfills/issues/442 adding your comments and example.

I'm going to close this issue.

[2021-04-29 21:45] #2172 closed

[2021-05-02 08:59] sidharthramesh commented on #1345
For me, even the links on the page don't open! I have to open it in a new tab for them to work. This happens on both the https://open-wc.org/ page and https://modern-web.dev/ page. Using chrome. Even if I copy the link and paste it in the address bar, it changes back to the current page's link. So I think it's some client-side routing issue.

Was trying to read up the documentation, but navigating

[2021-05-03 02:43] Westbrook commented on #2096
We’ve moved the conversation around “real” mouse inputs to https://github.com/modernweb-dev/web/discussions/1397 would appreciate your thoughts on the API design/usage.

[2021-05-03 02:46] Westbrook commented on #2055
How are you calling Rollup here? You need to make sure that you actually set the env var here, `ROLLUP_WATCH=true`. I’m not sure that any of our generators call it this way be default.

[2021-05-03 17:12] jarrodek opened #2187 "[building-rollup]: Invalid build with LitHtml and `classMap`, `styleMap` directives"
## Expected behavior

The bundle should correctly apply CSS classes to the `class` attribute and styles to the `style` attribute.

## Actual Behavior

It applies the following value to the `class` attribute:

[code]

And the following to the `style`:

[code]

## Additional context

I am applying the styles and classes as directed. It works perfectly when previewing in the dev server (es-dev-server

[2021-05-03 17:20] jarrodek commented on #2187
I tried removing `node_modules` and `package-lock.json` and then reinstalling dependencies and this seems to fix the problem. The generated bundle now works as it should. I am not entirely sure what this was about but I can only guess there were multiple versions of the same library installed by npm (LitHtml?). After fresh install of dependencies it corrected the issue and the bundle works now.

[2021-05-03 17:20] #2187 closed

[2021-05-11 07:32] msbasanth opened #2205 "[ScopedElementsMixin] Element scoping not working as expected when we have Angular Components with LitComponents inside"
## Expected behavior

I have an angular app where different UI parts are from different teams and they are using their own version of LitElement UI components. With scoped elements I should be able to use multiple versions of same ui components.

## Actual Behavior

When I create container component with LitElement  [ScopedElementsMixin] it works fine.
[code]
But we have mostly this structure in o

[2021-05-11 15:27] TimvdLippe opened #2206 "[eslint-plugin-lit-a11y] Remove dependency on intl-list-format"
## Expected behavior

Installing `eslint-plugin-lit-a11y` should use a small disk footprint

## Actual Behavior

`eslint-plugin-lit-a11y` depends on `intl-list-format` which is 9.1MB on disk, currently the largest dependency in all `node_modules` of Chrome DevTools. It appears that it was only used for Node 10 compatibility (https://github.com/open-wc/open-wc/blob/4f55bf52fde479d9b2e2ed61cea78b29b

[2021-05-18 09:16] ramses512 opened #2212 "[es-lint-plugin-lit-a11y] Problem with blank page in docs"
## Expected behaviour

A full description of how the a11y plugin works are expected

## Actual Behaviour

Blank page

![image](https://user-images.githubusercontent.com/22323226/118625519-6161ac80-b7ca-11eb-9444-62bdd512096d.png)

## Additional context

Docs web

[2021-05-18 16:56] nina-rafieifar commented on #1540
This is still happening in v2.5.32. Any updates?

[2021-05-23 17:26] Westbrook commented on #2212
This content can be found at: https://open-wc.org/docs/linting/eslint-plugin-lit-a11y/overview/

[2021-05-23 17:55] bennypowers commented on #2212
The page in question _should_ contain a descriptive overview of what the plugin does, with links to the rules (maybe in a table)

I suggest we move the content of `overview.md` to that file, and add a redirect rule in netlify (and the sw?) to that page from `/overview`

[2021-05-24 23:11] geoffrich opened #2218 "[eslint-plugin-lit-a11y] no-invalid-change-handler should be deprecated"
## Expected behavior

The no-onchange rule has been [deprecated](https://github.com/jsx-eslint/eslint-plugin-jsx-a11y/blob/master/docs/rules/no-onchange.md) in eslint-plugin-jsx-a11y as of Nov 2020. The corresponding rule (no-invalid-change-handler) should be deprecated and turned off in the recommended lit-a11y config.

The following code should not report an error with the recommended config:

[

[2021-05-24 23:11] geoffrich commented on #2218
If the maintainers agree on deprecating this rule, I'm happy to work on a PR for it.

[2021-05-24 23:29] Westbrook commented on #2218
Sounds good to me. Happy to accept a PR here. I’d venture to guess some of the realities around the way React coalesces `input` and `change` events, which we don’t do anyways 😉

Thanks for bringing this to our attention!

[2021-05-25 11:13] bennypowers commented on #2218
Agreed, looking forward to review the PR

[2021-05-26 18:22] #2218 closed

[2021-06-02 15:45] riovir opened #2221 "[scoped-elements] - incompatible with JSDOM"
## Expected behavior

Allow apps tested with JSDOM (usually via Jest) to still work as they did with the original hashed tag solution.

## Actual Behavior

As the `window.customElements` gets swapped out, the JSDOM internals can no longer can find bookkeeping data such as `_customElementDefinitions`.

## Additional context

This use case affects applications written with traditional frameworks (su

[2021-06-02 17:15] #2016 closed

[2021-06-02 17:15] #2001 closed

[2021-06-02 17:15] #2009 closed

[2021-06-02 17:15] #2008 closed

[2021-06-03 00:04] stephenwade commented on #1980
Not stale. Waiting on #2213.

[2021-06-03 08:07] riovir commented on #2221
Found a possible workaround by disabling the polyfill:

The scoped-elements polyfill is activated by checking if [ShadowRoot.prototype.createElement](https://github.com/open-wc/open-wc/blob/master/packages/scoped-elements/src/loadPolyfill.js#L7) exists. Jest allows manipulating the (JSDOM) browser environment before tests run via the `setupFiles` option.

By taking the `document.createElement` and

[2021-06-03 10:00] riovir commented on #2221
Another, more involved workaround doesn't disable the polyfill, but rather tries to merge it with JSDOM's own one. Would still go in the setupFile

[code]

An honorable mention is the [@jest-runner/electron](https://www.npmjs.com/package/@jest-runner/electron), which however needs some extra work to run inside a CI pipeline as per its currently open issues.

[2021-06-03 18:45] backlineint commented on #1540
Also ran into this and would love to see snapshot testing supported.

[2021-06-07 09:20] acory commented on #2046
Relates to https://github.com/modernweb-dev/web/issues/1489

[2021-06-07 18:16] lazka commented on #2172
@manolakis fyi, https://www.npmjs.com/package/@webcomponents/scoped-custom-element-registry has a new release now :)

[2021-06-07 19:44] manolakis commented on #2205
Hello @msbasanth,

sorry for the late response. Unfortunatelly, I don't think `ScopedElementsMixin`  version 1 could work in this way, as it would try to scope the angular component thinking it could be a lazy definition. A workaround could be wrap the angular element inside a LitElement, this way the lit element would be scoped instead of the angular one.

However, `ScopedElementsMixin` version 2

[2021-06-07 19:58] manolakis commented on #2172
https://github.com/open-wc/open-wc/pull/2224

[2021-06-07 20:21] manolakis commented on #2221
Hello @riovir,

`ScopedElementsMixin` is using polyfill provided by webcomponents project as we want the Mixin to work with the future standard of scoped registries.

I'm goign to close the issue because this is not a propblem related with the ScopedElementsMixin.

IMHO this is a JSDom problem so I suggest to open an issue in JSDom project asking them to make their implementation compatible with t

[2021-06-07 20:21] #2221 closed

[2021-06-07 20:31] manolakis commented on #2085
@kevinpschaaf I think is issue is not active anymore. Can be closed?

[2021-06-07 21:15] manolakis commented on #2112
Hello @barroudjo,

Not sure why, but I saw that with scoped element mixin the svg is not executed as a `SVGTemplateResult` but a `TemplateResult`. That's the main problem.

I'm pretty sure it should work with `ScopedElementsMixin` version 2 as we delegate the scoping to the scoped registry polyfill, making the mixin a simpler way to declare components in a custom registry.

I'll try to find te cau

[2021-06-08 05:52] msbasanth commented on #2205
Thanks for the reply, we will look into & follow scoped registry polyfill.

[2021-06-08 18:00] jarrodek opened #2225 "[@open-wc/eslint-config]: severity vulnerability in `trim-newlines`"
Yesterday I started seeing audit reports like this:

[code]

If possible, please, update the dependency.

[2021-06-10 22:56] stephenwade commented on #2225
This vulnerability doesn't affect `meow` and therefore doesn't affect us. https://github.com/sindresorhus/meow/pull/185#issuecomment-856523895

Fixing this alert will depend on all the packages in the chain updating to a version that doesn't trigger the alert. `meow` and `validate-element-name` have already been updated, but they also are ESM-only packages now and I don't know if `eslint-plugin-wc

[2021-06-11 17:47] jarrodek commented on #2225
I have to comply with organization standards and each alert like this means tons of messages from the info sec team to fix this and me explaining that this is a dev dependency and not really directly causing a vulnerability. It's not bad, but it is a pain :)

[2021-06-14 19:33] madeInLagny commented on #2055
Hi @Westbrook
this is my rollup config:

`import merge from 'deepmerge';
import { createSpaConfig } from '@open-wc/building-rollup';
import copy from 'rollup-plugin-copy';
import replace from '@rollup/plugin-replace';
import dynamicImportVars from '@rollup/plugin-dynamic-import-vars';

const baseConfig = createSpaConfig({
  // development mode creates a non-minified build for debugging or developm

[2021-06-16 10:16] lazka opened #2230 "[scoped-elements] Breaks css include order with Firefox"
Using `scoped-elements@2.0.0-next.4` and `lit@2.0.0-rc.2` on **Firefox only**:

[code]

* Expected behavior: The text should be blue
* Actual behavior: The text is red

.

* This only happens if I use ScopedElementsMixin. Removing the mixin makes it work again.
* This worked correctly with old lit-element and scoped-elements

[2021-06-16 10:16] lazka commented on #2230
@manolakis

[2021-06-16 12:38] manolakis commented on #2230
Really extrange... I'll take a look into it but I'm thinking that probably it would be related with the polyfill 🤔

[2021-06-16 13:06] lazka commented on #2230
The main problem is I think, that because Firefox doesn't have adoptedStyleSheets the styles are written into the dom directly, and the order somehow is different now:

old lit-elements + scoped
[code]

new lit + scoped + polyfill:

[code]

I hope this helps a bit.

[2021-06-16 13:36] manolakis commented on #2230
I think I know where is the problem but I don't have a clear solution right now. I'll work on it later

[2021-06-17 00:06] atomiro opened #2231 "eslint plugin lit-a11y fails on rule "role-has-required-aria-attrs" with role=option"
## Expected behavior
Element with role="option" and aria-selected="${etc}" passes rule "role-has-required-aria-attrs"

## Actual Behavior
lit-a11y throws an error even though both role and aria-selected are set on the element.

## Context
This is the template it errors on. I've triggered other variants of this rule (such as with role="combobox") and gotten those to pass, but this one still recurs.

[2021-06-17 07:57] thepassle commented on #2231
I was unable to reproduce this locally:

![image](https://user-images.githubusercontent.com/17054057/122355610-55484680-cf52-11eb-9cfc-2094d9dbf24e.png)

Could you provide some more information, or potentially a minimal reproduction repo?

[2021-06-28 07:22] davidmaxwaterman opened #2234 "`Customizing default plugins` example issues - one doesn't work, and missing example/typo."
## Expected behavior
I expect the example to work (and be present).

On this page:
https://open-wc.org/docs/building/rollup/#customizing-default-plugins

There's a 'view example', which shows:

[code]

Also, below that there is:

```Examples:```

with nothing following it. Perhaps it was supposed to be replaced by the 'View example' thing above it?

## Actual Behavior
The terser line doesn't work

[2021-06-28 07:35] thepassle commented on #2234
It looks like `rollup-plugin-terser@7.02` (which is the version building-rollup currently uses) doesnt support an `exclude` option. It could be the case that we updated the terser plugin, but didnt update the docs. Regarding `Examples:` I'm assuming this should've indeed been replaced by the `View example` right above it. Would you be willing to make a PR to update these things in the docs? 🙂

[2021-06-28 08:15] davidmaxwaterman commented on #2234
I'm not sure what the alternative is for the `exclude` option. I was looking for a way to turn it off altogether, and presumed `terser: false` would work, but it didn't seem to have any effect.

[2021-06-29 20:08] abdonrd commented on #1980
Fixed by #2228

[2021-06-29 20:59] #1980 closed

[2021-07-05 19:46] kristype opened #2238 "[dev-server-hmr] Proxy handler breaks instanceof and Object.getPrototypeOf(component)"
Example that changes the behaviour when using the HMR plugin:
[code]

## Expected behavior

When checking instanceof a lit component while using the HMR plugin I would expect the Proxy to not affect the behaviour of instanceof or Object.getPrototypeOf(component).

## Actual Behavior

instanceof check fails on lit element components after enabling the HMR plugin, because handler.getPrototypeOf() tr

[2021-07-08 05:03] paimon0715 opened #2239 "Vulnerability CVE-2020-28477 in the dependencies"
Hi @daKmoR,there is a high severity vulnerability in your dependencies
### Issue

   1 vulnerability (high severity) is introduced in **_@open-wc/demoing-storybook@0.3.*_**:
Vulnerability **CVE-2020-28477** (high severity) is detected in package **_immer_** (versions: <8.0.1): [https://snyk.io/vuln/SNYK-JS-IMMER-1019369](https://snyk.io/vuln/SNYK-JS-IMMER-1019369)

  The above vulnerable package i

[2021-07-08 05:06] paimon0715 commented on #2239
Many downstream users transitively use the lower versions of js-yaml (@0.3.*) (introduced vulnerablities) via unmaintained packages (cannot update their dependencies). If js-yaml 0.3.* can fix the  issue, the vulnerable patche can be automatically propagated into the active downstream projects.

[2021-07-08 05:11] #2239 closed

[2021-07-08 08:39] #2038 closed

[2021-07-08 08:39] #2042 closed

[2021-07-08 08:39] #2044 closed

[2021-07-08 08:39] #2054 closed

[2021-07-08 08:39] #2048 closed

[2021-07-08 08:39] #2102 closed

[2021-07-08 08:40] #2124 closed

[2021-07-08 08:40] #2118 closed

[2021-07-08 08:40] #2171 closed

[2021-07-08 08:40] #2096 closed

[2021-07-08 09:03] barroudjo commented on #2112
Good to know @manolakis ! So do you know if the issue is solved ?

[2021-07-08 09:07] sanmai-NL commented on #2225
The stale bot may clean up issues for new features that do not gain traction, but of course not for QA issues. Please fix the bot.

[2021-07-08 09:29] TimvdLippe commented on #2206
@thepassle can we reopen this issue please?

[2021-07-08 09:56] thepassle commented on #2206
For sure. Sorry this is taking so long, we're in prerelease mode for open-wc because we're waiting for lit to release the new version, but its taken a bit longer than anticipated

[2021-07-08 19:27] Westbrook commented on #2126
Not stale, per say. @bennypowers is about to solve this at the Storybook level 🤞🏼

[2021-07-08 19:29] bennypowers commented on #2126
See https://github.com/storybookjs/storybook/pull/15337

[2021-07-09 08:40] andreabosman16 opened #2240 "[dev-server-hmr] json modules in combination with hmr stops the json modules from loading"
## Expected behavior
Using the json modules (`@rollup/plugin-json` in combination with `@web/dev-server-rollup`) when hmr is turned on the json modules should be loaded properly.

## Actual Behavior
The json modules aren't loaded or recognized as intended when hmr is turned, the json modules work when hmr is turned off. You will get a error two errors one in the browser and one in the console of y

[2021-07-10 11:01] lazka commented on #2230
@stale

[2021-07-11 18:12] manolakis commented on #2112
The issue is solved in scoped elements v2.

[2021-07-15 09:07] lazka commented on #2230
Progress here: #2232

(dummy comment to keep this open)

[2021-07-15 14:29] tlouisse opened #2247 "[scoped-elements] compatibility issues hybrid apps (having both v1 and v2 loaded)"
When I have a hybrid application with:

- a set of components based on lit2 (using ScopedElementMixin v2)
- a set of components based on lit1 (using ScopedElemetnMixin v1)

with the following setup:

[code]

`my-el-1` renders fine, but `my-el-2` fails to render, because this fn fails (which causes it to assume its lazy loaded):

[code]

The reason that it fails is that when the scoped-custom-eleme

[2021-07-18 16:41] luis-pato opened #2250 "Function that exports emoji throws TypeError on npm run build"
I have used the open-wc project generator to create a project using lit (with `npm init @open-wc`).
Everything was woking great, until i created a function that returns a random emoji from an emojis array.
When i had this function on the component file, it worked well.
I moved this function to an extra file, where i export it, and now when i run `npm run start` i get a `TypeError: A.charCodeAt is